.form-check-input {
  margin-top: 9px;
  width: 23px;
  height: 23px;
}
.form-check-input:checked {
  background-color: var(--BandaSuperior);
  border-color: var(--BandaSuperior);
  box-shadow: none;
}

.form-check-label {
  margin: 2px 8px;
}

.panel {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: 100%;
  top: 0;
}
