<div
  class="bg-superior"
  style="height: 10px"
  *ngIf="!url.includes('/login')"
></div>
<!-- NavBar Register -->
<nav
  class="navbar navbar-expand-lg sticky-top bg-header"
  *ngIf="url.includes('/register')"
>
  <div class="container">
    <a class="navbar-nav mb-0" routerLink="/login">
      <img
        [src]="getImage(imgHeader, 'config', 'default-logoDM.png')"
        class="img-fluid"
        width="200"
        alt="Logo"
      />
    </a>
  </div>
</nav>
<!-- End NavBar Register -->

<!-- NavBar -->
<nav class="navbar navbar-expand-lg sticky-top bg-header" *ngIf="showNavbar">
  <div class="container">
    <button
      class="btn"
      data-bs-toggle="offcanvas"
      href="#offcanvasExample"
      aria-controls="offcanvasExample"
    >
      <i class="fa-solid fa-bars"></i>
    </button>
    <ul class="navbar-nav ms-3 mb-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink=""
          ><i class="fa-solid fa-bell"></i>
        </a>
      </li>
    </ul>
    <a
      class="navbar-nav ms-auto mb-0"
      [routerLink]="getUrlByRol('/homeAdmin', '/homeUser')"
    >
      <img
        [src]="getImage(imgHeader, 'config', 'default-logoDM.png')"
        class="img-fluid"
        width="200"
        alt="Logo"
      />
    </a>
  </div>
</nav>
<!-- End NavBar -->

<!-- Menu -->
<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-header">
    <h6 class="offcanvas-title" id="offcanvasExampleLabel">Menú</h6>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-user">
    <div class="row g-3 d-flex align-items-center">
      <div class="col-auto">
        <img
          *ngIf="!previewFoto"
          [src]="getImage(userFoto, 'usuario', 'default-user.jpg')"
          class="imgRedonda"
          alt="User"
        />
        <img
          *ngIf="previewFoto"
          [src]="previewFoto"
          class="imgRedonda"
          alt="User"
        />
      </div>
      <div class="col-6 lh-sm">
        <span class="d-block">{{ userName }}</span>
        <label
          class="link-primary text-decoration-underline pointer"
          for="camfotouser"
          ><small>Cambiar Foto</small></label
        >
        <input
          type="file"
          class="d-none"
          id="camfotouser"
          accept=".jpg, .jpeg, .png"
          (change)="onFileSelected($event)"
        />
      </div>
      <div class="col-auto">
        <a class="text-dark" data-bs-dismiss="offcanvas"
          ><i class="fa-solid fa-chevron-right"></i
        ></a>
      </div>
    </div>
  </div>
  <hr class="hr-text" data-content="O" />
  <div class="menu">
    <a
      [class]="menuItemActive('/homeAdmin,/homeUser')"
      data-bs-dismiss="offcanvas"
      [routerLink]="getUrlByRol('/homeAdmin', '/homeUser')"
    >
      <div class="icon-text">
        <mat-icon svgIcon="casa"></mat-icon><span>Inicio</span>
      </div>
    </a>
    <a
      [class]="menuItemActive('/view-user')"
      data-bs-dismiss="offcanvas"
      routerLink="/view-user"
      *ngIf="idRol === 'adm'"
    >
      <div class="icon-text">
        <mat-icon svgIcon="grupo"></mat-icon><span>Usuarios</span>
      </div>
    </a>
    <a
      [class]="menuItemActive('/view-reto,/user-reto')"
      data-bs-dismiss="offcanvas"
      [routerLink]="getUrlByRol('/view-reto', '/user-reto')"
    >
      <div class="icon-text">
        <mat-icon svgIcon="gamepad"></mat-icon><span>Retos</span>
      </div>
    </a>
    <a
      [class]="menuItemActive('/view-noticia,/user-noticia')"
      data-bs-dismiss="offcanvas"
      [routerLink]="getUrlByRol('/view-noticia', '/user-noticia')"
    >
      <div class="icon-text">
        <mat-icon svgIcon="periodico"></mat-icon><span>Noticias</span>
      </div>
    </a>
    <a
      [class]="menuItemActive('/view-recompensa')"
      data-bs-dismiss="offcanvas"
      routerLink="/view-recompensa"
    >
      <div class="icon-text">
        <mat-icon svgIcon="recompensa"></mat-icon><span>Recompensas</span>
      </div>
    </a>
    <a
      [class]="menuItemActive('/view-nivel')"
      data-bs-dismiss="offcanvas"
      routerLink="/view-nivel"
    >
      <div class="icon-text">
        <mat-icon svgIcon="podio"></mat-icon><span>Niveles</span>
      </div>
    </a>
    <a
      [class]="menuItemActive('/view-medalla')"
      data-bs-dismiss="offcanvas"
      routerLink="/view-medalla"
    >
      <div class="icon-text">
        <mat-icon svgIcon="otorgar"></mat-icon><span>Medallas</span>
      </div>
    </a>
    <!-- <a
      [class]="menuItemActive('/redSocial')"
      data-bs-dismiss="offcanvas"
      routerLink=""
    >
      <div class="icon-text">
        <mat-icon svgIcon="reaccion"></mat-icon><span>Red Social</span>
      </div>
    </a> -->
    <a
      [class]="menuItemActive('/config')"
      data-bs-dismiss="offcanvas"
      routerLink="/config"
      *ngIf="idRol === 'adm'"
    >
      <div class="icon-text">
        <mat-icon svgIcon="rueda-dentada"></mat-icon><span>Configuración</span>
      </div>
    </a>

    <a class="pointer" data-bs-dismiss="offcanvas" (click)="cerrarSesion()">
      <div class="icon-text">
        <mat-icon svgIcon="cerrar-sesion"></mat-icon><span>Cerrar Sesón</span>
      </div>
    </a>
  </div>
</div>
<!-- Fin Menu -->

<!-- Main -->
<div role="main" [ngClass]="showNavbar == true ? 'container mt-4' : ''">
  <router-outlet></router-outlet>
  <div class="blank-space" *ngIf="!url.includes('/login')"></div>
</div>
<!-- End Main -->

<!-- Loading -->
<div class="loading-overlay {{ load ? '' : 'hidden' }}" id="loading"></div>
<!-- end Loading -->

<!-- Footer -->
<footer class="fixed-bottom bg-footer text-white" style="height: 65px">
  <img
    [src]="getImage(imgFooter, 'config', 'default-logoD.png')"
    class="logoFooter"
    width="200"
    alt="Logo"
  />
</footer>
<!-- End Footer -->

<!-- Este no se que sera -->
<!-- <div [ngSwitch]="selection.value">
    <pre *ngSwitchDefault>ng generate component xyz</pre>
    <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
    <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>
    <pre *ngSwitchCase="'dependency'">ng add _____</pre>
    <pre *ngSwitchCase="'test'">ng test</pre>
    <pre *ngSwitchCase="'build'">ng build</pre>
  </div> -->
