:host {
  /* mis variables colores por defecto (Cambian los valores guardados en la base de datos)*/
  --Primario: #f58220;
  --Secundario: #0b2b34;
  --Terciario: #898a8d;

  --BandaSuperior: #f58220;
  --Header: #f1f5f8;
  --Footer: #898a8d;
  --Loading1: #f58220;
  --Loading2: #0b2b34;
  --BotonPrimario: #f58220;
  --BotonSecundario: #0b2b34;
  --BotonTerciario: #898a8d;
  --TextoPrimario: #f58220;
  --TextoSecundario: #0b2b34;
  --TextoTerciario: #898a8d;
  --BgMenuItem: #f58220;
  --BgMenuItem-hover: #898a8d;
  --TxtMenuItem: #0b2b34;
  --TxtMenuItem-active: #ffffff;
}

/******** MENU ********/
.logoFooter {
  width: 50px;
  background-color: transparent;
  position: relative;
  top: -20px;
  left: 50px;
}

.offcanvas-user {
  padding: 0.9rem 2rem 0rem 2rem;
}

.btn-close {
  box-shadow: none;
}

.menu {
  overflow-y: auto;
}

.menu a {
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  text-decoration: none;
  color: var(--TxtMenuItem);
}

.menu a.active {
  background: var(--BgMenuItem);
  color: var(--TxtMenuItem-active);
}

.menu a:hover {
  background: var(--BgMenuItem-hover);
  color: var(--TxtMenuItem-active);
}

.menu a mat-icon {
  margin: 0px 18px 0px 50px;
  font-size: 1px;
  transform: scale(1);
}

.breadcrumb-item a mat-icon {
  margin: 0px 3px 0px 0px;
  font-size: 1px;
  transform: scale(0.7);
}

/****** LOADING ******/
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
.loading-overlay:after {
  content: "";
  display: block;
  width: 10rem;
  height: 10rem;
  margin: 8px;
  border-radius: 50%;
  border: 10px solid;
  border-color: var(--Loading1) transparent var(--Loading2) transparent;
  animation: load-dual 1.2s linear infinite;
}
@keyframes load-dual {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}

/******** ESPACIO EN BLANCO ********/
.blank-space {
  height: 10vh;
}
