.loading-ejemplo {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loading-ejemplo:after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid;
  border-color: var(--Loading1) transparent var(--Loading2) transparent;
  animation: loading-ejemplo-dual 1.2s linear infinite;
}
@keyframes loading-ejemplo-dual {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
