<div class="shadow-lg bg-white px-4 py-2 px-lg-5 rounded">
  <h5 class="my-5 text-center txt text-primary text-uppercase">
    {{ titulo }} <span *ngIf="sectionIndex > 0">/ {{ reto.tipoReto }}</span>
  </h5>

  <!-- PILLS -->
  <ul class="nav nav-pills mb-4" *ngIf="type === 'editar'">
    <li class="nav-item">
      <a
        class="nav-link {{ sectionIndex === 0 ? 'active' : 'pointer' }}"
        (click)="setSection(0, 'nav')"
        >Información Básica</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link {{ sectionIndex === 1 ? 'active' : 'pointer' }}"
        (click)="setSection(1, 'nav')"
        >Configuración</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link {{ sectionIndex === 2 ? 'active' : 'pointer' }}"
        (click)="setSection(2, 'nav')"
        >Recompensas</a
      >
    </li>
  </ul>
  <!-- END PILLS -->

  <!-- TITULOS -->
  <div class="mb-4" *ngIf="type === 'crear'">
    <div *ngIf="sectionIndex === 0">
      <p class="txt text-secondary fs-5">Información Básica</p>
    </div>
    <div *ngIf="sectionIndex === 1">
      <p class="txt text-secondary fs-5">Configuración</p>
    </div>
    <div *ngIf="sectionIndex === 2">
      <p class="txt text-secondary fs-5">Recompensas</p>
    </div>
  </div>
  <!-- END TITULOS -->

  <form class="mb-3" [formGroup]="formulario" (ngSubmit)="upsert()">
    <!-- SECCIÓN 0 INFORMACIÓN BÁSICA -->
    <div class="row g-3" *ngIf="sectionIndex === 0">
      <div class="col-12 col-md-4">
        <label for="ret-nom" class="form-label">Nombre*</label>
        <input
          type="text"
          class="form-control {{
            formulario.get('nombre')?.errors && verErrorsInputs
              ? 'is-invalid'
              : ''
          }}"
          formControlName="nombre"
          id="ret-nom"
        />
        <div class="invalid-feedback">
          <span
            class="d-block"
            *ngIf="formulario.get('nombre')?.hasError('maxlength')"
          >
            Máximo 40 caracteres
          </span>
          <span
            class="d-block"
            *ngIf="formulario.get('nombre')?.hasError('pattern')"
          >
            Contiene caracteres inválidos
          </span>
          <span
            class="d-block"
            *ngIf="formulario.get('nombre')?.hasError('required')"
          >
            Campo obligatorio
          </span>
        </div>
      </div>
      <div class="col-12 col-md-4" *ngIf="type === 'editar'">
        <label for="ret-tipret1" class="form-label">Tipo de Reto</label>
        <input
          type="text"
          class="form-control"
          [value]="reto.tipoReto"
          disabled
        />
      </div>
      <div class="col-12 col-md-4" *ngIf="type === 'crear'">
        <label for="ret-tipret" class="form-label">Tipo de Reto*</label>
        <select
          class="form-select {{
            formulario.get('idTipoReto')?.errors && verErrorsInputs
              ? 'is-invalid'
              : ''
          }}"
          formControlName="idTipoReto"
          id="ret-tipret"
          (change)="selectedTipoRetoName($event)"
        >
          <option value="">Seleccione...</option>
          <option *ngFor="let item of tipoReto" [value]="item.idTipoReto">
            {{ item.nombre }}
          </option>
        </select>
        <div class="invalid-feedback">
          <span
            class="d-block"
            *ngIf="formulario.get('idTipoReto')?.hasError('required')"
          >
            Campo obligatorio
          </span>
        </div>
      </div>
      <div class="col-12 col-md-4" *ngIf="type === 'editar'">
        <label for="ret-equipo1" class="form-label"
          >Forma de Participación</label
        >
        <input
          type="text"
          class="form-control"
          [value]="reto.enEquipo ? 'Reto en Equipo' : 'Reto Individual'"
          disabled
        />
      </div>
      <div class="col-12 col-md-4" *ngIf="type === 'crear'">
        <label for="ret-equipo" class="form-label"
          >Forma de Participación*</label
        >
        <select
          class="form-select {{
            formulario.get('enEquipo')?.errors && verErrorsInputs
              ? 'is-invalid'
              : ''
          }}"
          formControlName="enEquipo"
          id="ret-equipo"
        >
          <option value="-1">Seleccione...</option>
          <option value="0">Reto Individual</option>
          <option value="1">Reto en Equipo</option>
        </select>
        <div class="invalid-feedback">
          <span
            class="d-block"
            *ngIf="formulario.get('enEquipo')?.hasError('required')"
          >
            Campo obligatorio
          </span>
          <span
            class="d-block"
            *ngIf="formulario.get('enEquipo')?.hasError('min')"
          >
            Campo obligatorio
          </span>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <label for="ret-fape" class="form-label">Fecha Apertura</label>
        <i
          class="fa-regular fa-circle-question ms-1"
          matTooltip="Si no se pone la fecha el reto estará disponible en todo momento"
          [matTooltipPosition]="'right'"
        ></i>
        <input
          type="date"
          class="form-control {{
            formulario.get('fechaApertura')?.hasError('objectInvalid') &&
            verErrorsInputs
              ? 'is-invalid'
              : ''
          }}"
          formControlName="fechaApertura"
          id="ret-fape"
        />
        <div class="invalid-feedback">
          <span
            class="d-block"
            *ngIf="formulario.get('fechaApertura')?.hasError('objectInvalid')"
          >
            Campo obligatorio
          </span>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <label for="ret-fcie" class="form-label">Fecha Cierre</label
        ><i
          class="fa-regular fa-circle-question ms-1"
          matTooltip="Si no se pone la fecha el reto nunca se va a cerrar"
          [matTooltipPosition]="'right'"
        ></i>
        <input
          type="date"
          class="form-control {{
            formulario.get('fechaCierre')?.hasError('objectInvalid') &&
            verErrorsInputs
              ? 'is-invalid'
              : ''
          }}"
          formControlName="fechaCierre"
          id="ret-fcie"
        />
        <div class="invalid-feedback">
          <span
            class="d-block"
            *ngIf="formulario.get('fechaCierre')?.hasError('objectInvalid')"
          >
            Campo obligatorio
          </span>
        </div>
      </div>
      <div class="col-12">
        <label for="ret-imagen" class="form-label">Imagen</label>
        <input
          type="file"
          class="form-control mb-2 {{
            errorArchivo && verErrorsInputs ? 'is-invalid' : ''
          }}"
          id="ret-imagen"
          accept=".jpg, .jpeg, .png"
          (change)="onFileSelected($event)"
        />
        <div class="invalid-feedback">
          El archivo no puede superar los 360x360 píxeles y los 200 KB.
        </div>
        <div class="text-center text-md-start">
          <small
            class="d-block {{
              errorArchivo && verErrorsInputs ? 'd-none' : ''
            }}"
            >{{ sugerenciaImagen }}
          </small>
          <img
            *ngIf="!selectedImage"
            [src]="getImage(reto.imagen, 'reto', 'default-reto.jpg')"
            class="img-thumbnail"
            width="110"
            alt="reto"
          />
          <img
            *ngIf="selectedImage"
            [src]="previewImage"
            class="img-thumbnail"
            width="110"
            alt="reto"
          />
        </div>
      </div>
    </div>
    <!-- END SECCIÓN 0 INFORMACIÓN BÁSICA -->

    <!-- SECCIÓN 1 CONFIGURACIÓN -->
    <div class="row g-3" *ngIf="sectionIndex === 1">
      <div class="col-12 col-md-6 col-lg-4" *ngIf="reto.tipoReto === 'Trivia'">
        <label for="ret-comp" class="form-label"
          >Comportamiento de Preguntas*</label
        >
        <select
          class="form-select {{
            formulario.get('idComportamiento')?.errors && verErrorsInputs
              ? 'is-invalid'
              : ''
          }}"
          formControlName="idComportamiento"
          id="ret-comp"
        >
          <option value="">Seleccione...</option>
          <option
            *ngFor="let item of comportPreg"
            [value]="item.idComportamiento"
          >
            {{ item.nombre }}
          </option>
        </select>
        <div class="invalid-feedback">
          <span
            class="d-block"
            *ngIf="formulario.get('idComportamiento')?.hasError('required')"
          >
            Campo obligatorio
          </span>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4" *ngIf="reto.tipoReto === 'Trivia'">
        <label for="ret-cmin" class="form-label"
          >Criterio mínimo de superación (%)*</label
        >
        <input
          type="text"
          class="form-control {{
            formulario.get('criterioMinimo')?.errors && verErrorsInputs
              ? 'is-invalid'
              : ''
          }}"
          formControlName="criterioMinimo"
          id="ret-cmin"
        />
        <div class="invalid-feedback">
          <span
            class="d-block"
            *ngIf="formulario.get('criterioMinimo')?.hasError('min')"
          >
            Mínimo 1%
          </span>
          <span
            class="d-block"
            *ngIf="formulario.get('criterioMinimo')?.hasError('max')"
          >
            Máximo hasta 100%
          </span>
          <span
            class="d-block"
            *ngIf="formulario.get('criterioMinimo')?.hasError('pattern')"
          >
            Solo se permiten números
          </span>
          <span
            class="d-block"
            *ngIf="formulario.get('criterioMinimo')?.hasError('required')"
          >
            Campo obligatorio
          </span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4" *ngIf="reto.tipoReto === 'Trivia'">
        <label for="ret-tiemM" class="form-label">Tiempo máximo (h:m:s)*</label>
        <input
          type="time"
          step="1"
          class="form-control {{
            formulario.get('tiempo_ms')?.errors && verErrorsInputs
              ? 'is-invalid'
              : ''
          }}"
          id="ret-tiemM"
          formControlName="tiempo_h"
          (input)="setTiempo()"
        />
        <div class="invalid-feedback">
          <span
            class="d-block"
            *ngIf="formulario.get('tiempo_ms')?.hasError('min')"
          >
            Mínimo 5 minutos
          </span>
          <span
            class="d-block"
            *ngIf="formulario.get('tiempo_ms')?.hasError('max')"
          >
            Máximo hasta 2 horas
          </span>
          <span
            class="d-block"
            *ngIf="formulario.get('tiempo_ms')?.hasError('pattern')"
          >
            Solo se permiten números
          </span>
          <span
            class="d-block"
            *ngIf="formulario.get('tiempo_ms')?.hasError('required')"
          >
            Campo obligatorio
          </span>
        </div>
      </div>

      <div
        class="col-12 col-md-6 col-lg-4"
        *ngIf="reto.tipoReto === 'Recolección' && type === 'editar'"
      >
        <label for="aux-cant-i-reco" class="form-label"
          >Cantidad de ítems a recoger*</label
        >
        <i
          class="fa-regular fa-circle-question ms-1"
          matTooltip="Mínimo un ítem"
          [matTooltipPosition]="'right'"
        ></i>
        <input
          type="text"
          class="form-control"
          [value]="reto.items"
          id="aux-cant-i-reco"
          disabled
        />
      </div>

      <div
        class="col-12 col-md-6 col-lg-4"
        *ngIf="reto.tipoReto === 'Recolección' && type === 'crear'"
      >
        <label for="cant-i-reco" class="form-label"
          >Cantidad de ítems a recoger*</label
        >
        <i
          class="fa-regular fa-circle-question ms-1"
          matTooltip="Mínimo un ítem"
          [matTooltipPosition]="'right'"
        ></i>
        <input
          type="text"
          class="form-control {{
            formulario.get('items')?.errors && verErrorsInputs
              ? 'is-invalid'
              : ''
          }}"
          formControlName="items"
          id="cant-i-reco"
        />
        <div class="invalid-feedback">
          <span
            class="d-block"
            *ngIf="formulario.get('items')?.hasError('min')"
          >
            Mínimo un ítem
          </span>
          <span
            class="d-block"
            *ngIf="formulario.get('items')?.hasError('max')"
          >
            Máximo hasta 1000 items
          </span>
          <span
            class="d-block"
            *ngIf="formulario.get('items')?.hasError('pattern')"
          >
            Solo se permiten números
          </span>
          <span
            class="d-block"
            *ngIf="formulario.get('items')?.hasError('required')"
          >
            Campo obligatorio
          </span>
        </div>
      </div>

      <div
        class="col-12 col-md-6 col-lg-4"
        *ngIf="
          (reto.tipoReto === 'Comportamiento' ||
            reto.tipoReto === 'Recolección') &&
          type === 'editar'
        "
      >
        <label for="aux-user-verifica" class="form-label"
          >Quién verifica*</label
        >
        <i
          class="fa-regular fa-circle-question ms-1"
          matTooltip="Establece quien debe verificar que los ítems fueron conseguidos"
          [matTooltipPosition]="'right'"
        ></i>
        <input
          type="text"
          class="form-control"
          id="aux-user-verifica"
          [value]="reto.tipoValidador"
          disabled
        />
      </div>

      <div
        class="col-12 col-md-6 col-lg-4"
        *ngIf="
          (reto.tipoReto === 'Comportamiento' ||
            reto.tipoReto === 'Recolección') &&
          type === 'crear'
        "
      >
        <label for="user-verifica" class="form-label">Quién verifica*</label>
        <i
          class="fa-regular fa-circle-question ms-1"
          matTooltip="Establece quien debe verificar que los ítems fueron conseguidos"
          [matTooltipPosition]="'right'"
        ></i>
        <select
          class="form-select {{
            formulario.get('idTipoValidador')?.errors && verErrorsInputs
              ? 'is-invalid'
              : ''
          }}"
          id="user-verifica"
          formControlName="idTipoValidador"
          (input)="selectTipoValidador($event)"
        >
          <option value="">Seleccione...</option>
          <option
            *ngFor="let item of tipoValidador"
            [value]="item.idTipoValidador"
          >
            {{ item.nombre }}
          </option>
        </select>
        <div class="invalid-feedback">
          <span
            class="d-block"
            *ngIf="formulario.get('idTipoValidador')?.hasError('required')"
          >
            Campo obligatorio
          </span>
        </div>
      </div>

      <div
        class="col-12 col-md-6 col-lg-4"
        *ngIf="
          permitirVerificadores &&
          type === 'crear' &&
          (reto.tipoReto === 'Comportamiento' ||
            reto.tipoReto === 'Recolección')
        "
      >
        <label for="users-verificadores" class="form-label"
          >Usuarios verificadores*</label
        >
        <i
          class="fa-regular fa-circle-question ms-1"
          matTooltip="Listado de correos electrónicos de usuarios. Máximo 5 usuarios"
          [matTooltipPosition]="'right'"
        ></i>

        <div *ngIf="!getCorreosValid().length" class="mb-2">
          <input
            type="text"
            class="form-control form-control {{
              formulario.get('correosValid')?.errors && verErrorsInputs
                ? 'is-invalid'
                : ''
            }}"
            (focus)="openModal()"
          />
          <div class="invalid-feedback mb-2">
            <span
              class="d-block"
              *ngIf="formulario.get('correosValid')?.hasError('minlength')"
            >
              Mínimo 7 caracteres
            </span>
            <span
              class="d-block"
              *ngIf="formulario.get('correosValid')?.hasError('maxlength')"
            >
              Máximo 400 caracteres
            </span>
            <span
              class="d-block"
              *ngIf="
                formulario.get('correosValid')?.hasError('caracterInvalid')
              "
            >
              Contiene caracteres inválidos
            </span>
            <span
              class="d-block"
              *ngIf="formulario.get('correosValid')?.hasError('maxCantItems')"
            >
              Máximo 5 correos
            </span>
            <span
              class="d-block"
              *ngIf="formulario.get('correosValid')?.hasError('required')"
            >
              Campo obligatorio
            </span>
          </div>
        </div>

        <div *ngIf="getCorreosValid().length">
          <div
            class="input-group mb-2"
            *ngFor="let correo of getCorreosValid(); index as i"
          >
            <span
              class="form-control {{
                formulario.get('correosValid')?.errors && verErrorsInputs
                  ? 'is-invalid'
                  : ''
              }}"
            >
              {{ correo }}
            </span>
            <span
              class="toggle-icon {{
                formulario.get('correosValid')?.errors && verErrorsInputs
                  ? getCorreosValid().length === i + 1
                    ? 'error'
                    : 'aux-error'
                  : ''
              }}"
              (click)="quitarUsuario(correo)"
              ><i class="fa-solid fa-trash-can"></i
            ></span>
            <div
              class="invalid-feedback"
              *ngIf="getCorreosValid().length === i + 1"
            >
              <span
                class="d-block"
                *ngIf="formulario.get('correosValid')?.hasError('maxCantItems')"
              >
                Máximo 5 correos
              </span>
            </div>
          </div>
        </div>

        <button
          *ngIf="getCorreosValid().length < 5"
          type="button"
          class="btn btn-sm btn-primary rounded-circle px-2"
          data-bs-toggle="modal"
          data-bs-target="#modalQuienferifica"
          #openModalAsignar
        >
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>

      <div
        class="col-12 col-md-6 col-lg-4"
        *ngIf="
          permitirVerificadores &&
          type === 'editar' &&
          (reto.tipoReto === 'Comportamiento' ||
            reto.tipoReto === 'Recolección')
        "
      >
        <label for="users-verificadores" class="form-label"
          >Usuarios verificadores*</label
        >
        <i
          class="fa-regular fa-circle-question ms-1"
          matTooltip="Listado de correos electrónicos de usuarios. Máximo 5 usuarios"
          [matTooltipPosition]="'right'"
        ></i>

        <div *ngIf="getCorreosValid().length">
          <input
            type="text"
            class="form-control mb-2"
            *ngFor="let item of getCorreosValid()"
            [value]="item"
            disabled
          />
        </div>
      </div>

      <div
        class="col-12 col-md-6 col-lg-4"
        *ngIf="reto.tipoReto === 'Recolección' && type === 'editar'"
      >
        <label for="id-tipo-arch" class="form-label">Tipo de archivo*</label>
        <input
          type="text"
          class="form-control"
          id="id-tipo-arch"
          [value]="reto.tipoArchivo"
          disabled
        />
      </div>

      <div
        class="col-12 col-md-6 col-lg-4"
        *ngIf="reto.tipoReto === 'Recolección' && type === 'crear'"
      >
        <label for="id-tip-arch" class="form-label">Tipo de archivo*</label>
        <select
          class="form-select {{
            formulario.get('idTipoArchivo')?.errors && verErrorsInputs
              ? 'is-invalid'
              : ''
          }}"
          formControlName="idTipoArchivo"
          id="id-tip-arch"
        >
          <option value="">Seleccione...</option>
          <option *ngFor="let item of tipoArchivo" [value]="item.idTipoArchivo">
            {{ item.nombre }}
          </option>
        </select>
        <div class="invalid-feedback">
          <span
            class="d-block"
            *ngIf="formulario.get('idTipoArchivo')?.hasError('required')"
          >
            Campo obligatorio
          </span>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <label for="ret-inst" class="form-label">Instrucciones</label>
        <textarea
          class="form-control {{
            formulario.get('instrucciones')?.errors && verErrorsInputs
              ? 'is-invalid'
              : ''
          }}"
          cols="30"
          rows="3"
          id="ret-inst"
          formControlName="instrucciones"
        ></textarea>
        <div class="invalid-feedback">
          <span
            class="d-block"
            *ngIf="formulario.get('instrucciones')?.hasError('maxlength')"
          >
            Máximo 300 caracteres
          </span>
          <span
            class="d-block"
            *ngIf="formulario.get('instrucciones')?.hasError('caracterInvalid')"
          >
            Contiene caracteres inválidos
          </span>
        </div>
      </div>

      <div
        class="col-12 col-md-6 col-lg-4"
        *ngIf="type === 'editar' && reto.tipoReto === 'Encuesta'"
      >
        <label for="ret-tipEn1" class="form-label">Tipo de Encuesta</label>
        <input
          type="text"
          class="form-control"
          [value]="reto.tipoEncuesta"
          disabled
        />
      </div>
      <div
        class="col-12 col-md-6 col-lg-4"
        *ngIf="type === 'crear' && reto.tipoReto === 'Encuesta'"
      >
        <label for="tipo-tipEn" class="form-label">Tipo de Encuesta*</label>
        <select
          class="form-select {{
            formulario.get('idTipoEncuesta')?.errors && verErrorsInputs
              ? 'is-invalid'
              : ''
          }}"
          formControlName="idTipoEncuesta"
          id="ret-tipEn"
        >
          <option value="">Seleccione...</option>
          <option
            *ngFor="let item of tipoEncuesta"
            [value]="item.idTipoEncuesta"
          >
            {{ item.nombre }}
          </option>
        </select>
        <div class="invalid-feedback">
          <span
            class="d-block"
            *ngIf="formulario.get('idTipoEncuesta')?.hasError('required')"
          >
            Campo obligatorio
          </span>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4" *ngIf="reto.tipoReto === 'Trivia'">
        <label for="ret-vid" class="form-label">Vidas</label>
        <input
          type="text"
          class="form-control {{
            formulario.get('vidas')?.errors && verErrorsInputs
              ? 'is-invalid'
              : ''
          }}"
          formControlName="vidas"
          id="ret-vid"
        />
        <div class="invalid-feedback">
          <span
            class="d-block"
            *ngIf="formulario.get('vidas')?.hasError('min')"
          >
            Mínimo 0
          </span>
          <span
            class="d-block"
            *ngIf="formulario.get('vidas')?.hasError('max')"
          >
            Máximo hasta 10
          </span>
          <span
            class="d-block"
            *ngIf="formulario.get('vidas')?.hasError('pattern')"
          >
            Solo se permiten números
          </span>
          <span
            class="d-block"
            *ngIf="formulario.get('vidas')?.hasError('required')"
          >
            Campo obligatorio
          </span>
        </div>
      </div>
      <div
        class="col-12 {{
          reto.tipoReto === 'Recolección' || reto.tipoReto === 'Comportamiento'
            ? 'd-none'
            : ''
        }}"
      >
        <div class="form-check form-switch">
          <input
            type="checkbox"
            class="form-check-input"
            role="switch"
            id="ops-requeridas"
            [checked]="reto.opsRequeridas"
            (change)="setOpsRequeridas($event)"
          />
          <label class="form-check-label" for="ops-requeridas"
            >Contestar todas las preguntas</label
          >
        </div>
      </div>
    </div>
    <!-- END SECCIÓN 1 CONFIGURACIÓN -->

    <!-- SECCIÓN 2 RECOMPENSAS -->
    <div class="row g-3" *ngIf="sectionIndex === 2">
      <div class="col-12 col-md-6 col-lg-4">
        <label for="ret-prec" class="form-label">Puntos*</label>
        <input
          type="text"
          class="form-control {{
            formulario.get('puntosRecompensa')?.errors && verErrorsInputs
              ? 'is-invalid'
              : ''
          }}"
          formControlName="puntosRecompensa"
          id="ret-prec"
        />
        <div class="invalid-feedback">
          <span
            class="d-block"
            *ngIf="formulario.get('puntosRecompensa')?.hasError('min')"
          >
            Mínimo 1
          </span>
          <span
            class="d-block"
            *ngIf="formulario.get('puntosRecompensa')?.hasError('max')"
          >
            Máximo hasta 1000
          </span>
          <span
            class="d-block"
            *ngIf="formulario.get('puntosRecompensa')?.hasError('pattern')"
          >
            Solo se permiten números
          </span>
          <span
            class="d-block"
            *ngIf="formulario.get('puntosRecompensa')?.hasError('required')"
          >
            Campo obligatorio
          </span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <label for="ret-credOb" class="form-label">Créditos</label>
        <input
          type="text"
          class="form-control {{
            formulario.get('creditosObtenidos')?.errors && verErrorsInputs
              ? 'is-invalid'
              : ''
          }}"
          formControlName="creditosObtenidos"
          id="ret-credOb"
        />
        <div class="invalid-feedback">
          <span
            class="d-block"
            *ngIf="formulario.get('creditosObtenidos')?.hasError('min')"
          >
            Mínimo 0
          </span>
          <span
            class="d-block"
            *ngIf="formulario.get('creditosObtenidos')?.hasError('max')"
          >
            Máximo hasta 1000
          </span>
          <span
            class="d-block"
            *ngIf="formulario.get('creditosObtenidos')?.hasError('pattern')"
          >
            Solo se permiten números
          </span>
          <span
            class="d-block"
            *ngIf="formulario.get('creditosObtenidos')?.hasError('required')"
          >
            Campo obligatorio
          </span>
        </div>
      </div>
    </div>
    <!-- END SECCIÓN 2 RECOMPENSAS -->

    <div class="row g-3 mt-3">
      <div class="col-12 mt-4 text-end d-grid d-md-block">
        <button
          type="button"
          class="btn btn-secondary mb-3 mb-md-0 me-md-2"
          *ngIf="sectionIndex > 0 && sectionIndex <= 2"
          (click)="setSection(sectionIndex - 1, 'anterior')"
        >
          <i class="fa-solid fa-chevron-left me-2"></i>Anterior
        </button>
        <button
          type="button"
          class="btn btn-secondary mb-3 mb-md-0 me-md-2"
          *ngIf="sectionIndex >= 0 && sectionIndex < 2"
          (click)="setSection(sectionIndex + 1, 'siguiente')"
        >
          Siguiente<i class="fa-solid fa-chevron-right ms-2"></i>
        </button>

        <button
          type="submit"
          class="btn btn-primary mb-3 mb-md-0 me-md-2"
          *ngIf="sectionIndex === 2 && type === 'crear'"
        >
          <i class="fa-regular fa-floppy-disk me-2"></i>Guardar
        </button>

        <button
          type="submit"
          class="btn btn-primary mb-3 mb-md-0 me-md-2"
          *ngIf="type === 'editar'"
        >
          <i class="fa-regular fa-floppy-disk me-2"></i>Guardar
        </button>

        <a class="btn btn-tertiary" routerLink="/view-reto">
          <i class="fa-solid fa-angle-left me-2"></i>Cancelar
        </a>
      </div>
    </div>
  </form>
</div>

<!-- MODAL QUIEN VERIFICA  -->
<div
  class="modal fade"
  id="modalQuienferifica"
  tabindex="-1"
  aria-labelledby="modalQuienferificaLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen-sm-down">
    <form
      class="modal-content"
      [formGroup]="frmUsuario"
      (ngSubmit)="submitFormBuscar($event)"
    >
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalQuienferificaLabel">
          Usuario/s quién verifica
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #closeModalAsignar
          (click)="limpiarCampos(true)"
        ></button>
      </div>
      <div class="modal-body">
        <div class="d-md-flex w-100">
          <div class="input-group flex-grow-1 me-md-3 mb-3 mb-md-0">
            <span class="icon-left">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <input
              type="text"
              class="form-control icon"
              placeholder="Buscar usuario..."
              formControlName="buscar"
              (input)="defaultList($event)"
            />
          </div>
          <div class="d-grid">
            <button
              type="submit"
              class="btn btn-secondary"
              value="buscar"
              [disabled]="frmUsuario.get('buscar')?.errors"
            >
              Buscar
            </button>
          </div>
        </div>

        <div class="card text-center mt-3" *ngIf="error">
          <div class="card-body">
            <span>{{ info }}</span>
          </div>
        </div>

        <div class="card mt-3" *ngIf="usuarios.length">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let item of usuarios">
              <div class="row g-3 text-center text-md-start">
                <div class="col-12 col-md-auto align-self-center">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="flexRadioDefault"
                    [id]="item.idUsuario"
                    (input)="selectUsuario(item.correo, $event)"
                  />
                </div>
                <label
                  class="col-12 col-md-auto align-self-center"
                  [htmlFor]="item.idUsuario"
                >
                  <img
                    [src]="getImage(item.foto, 'usuario', 'default-user.jpg')"
                    class="imageRedonda me-2"
                    alt="..."
                  />
                </label>
                <label class="col-12 col-md-8" [htmlFor]="item.idUsuario">
                  <div class="d-md-flex justify-content-between">
                    <h6 class="me-2 txt text-secondary">
                      {{ item.nombre }} {{ item.apellido }}
                    </h6>
                    <small
                      class="card-text {{
                        item.estado ? 'text-success' : 'text-danger'
                      }}"
                    >
                      {{ item.estado ? "Activo" : "Desactivado" }}
                    </small>
                  </div>
                  <small class="txt text-tertiary">
                    {{ item.correo }}
                  </small>
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          value="agregar"
          class="btn btn-primary"
          [disabled]="!correosValidadores.length"
        >
          Agregar
        </button>
      </div>
    </form>
  </div>
</div>
<!-- Fin Modal -->
