/* You can add global styles to this file, and also import other style files */

:root {
  --form-items-border: #7a7a7a;
  --form-itemsInvalid-border: #f04553;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/****** FORM ******/
.form-control {
  border-radius: 13px !important;
}

.form-control:focus {
  border-color: var(--form-items-border) !important;
  box-shadow: none !important;
}

.form-control:hover {
  border-color: var(--form-items-border) !important;
}

.form-control.is-invalid {
  border-color: var(--form-itemsInvalid-border) !important;
}

.form-select {
  border-radius: 13px !important;
}

.form-select:focus {
  border-color: var(--form-items-border) !important;
  box-shadow: none !important;
}

.form-select:hover {
  border-color: var(--form-items-border) !important;
}

.form-select.is-invalid {
  border-color: var(--form-itemsInvalid-border) !important;
}

.form-label {
  margin-left: 0.5rem;
}

.form-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/****** BUTTONS ******/
.btn {
  border-radius: 20px !important;
}

.btn.normal {
  border-radius: 5px !important;
}

.btn-primary {
  background-color: var(--BotonPrimario) !important;
  border-color: var(--BotonPrimario) !important;
}

.btn-secondary {
  background-color: var(--BotonSecundario) !important;
  border-color: var(--BotonSecundario) !important;
}

.btn-tertiary {
  background-color: var(--BotonTerciario) !important;
  border-color: var(--BotonTerciario) !important;
  color: #fff !important;
}

.btn-success {
  background-color: var(--BotonGuardado) !important;
  border-color: var(--BotonGuardado) !important;
}

.btn-primary:active {
  filter: brightness(90%) !important;
}

.btn-secondary:active {
  filter: brightness(90%) !important;
}

.btn-tertiary:active {
  filter: brightness(90%) !important;
}

.btn-success:active {
  filter: brightness(90%) !important;
}

/****** BACKGROUND ******/
.bg-header {
  background-color: var(--Header);
}

.bg-superior {
  background-color: var(--BandaSuperior);
}

.bg-footer {
  background-color: var(--Footer);
}

.bg-menu-item {
  background-color: var(--BgMenuItem);
}

/****** TEXTOS ******/
.txt.text-primary {
  color: var(--TextoPrimario) !important;
}

.txt.text-secondary {
  color: var(--TextoSecundario) !important;
}

/****** OTROS ******/
/****** OJITO DE LA CONTRASEÑA ******/
.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  color: var(--form-items-border);
}

.toggle-password.error {
  top: 31%;
  right: 30px;
}

/****** ICONO A AL IZQUIERDA ******/
.icon-left {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 10;
  color: var(--form-items-border);
}
.form-control.icon {
  padding-left: 2.1rem !important;
}

/****** ICONOS SVG ******/
.icon-text {
  display: flex;
  align-items: center;
}

.icon-text.buton {
  justify-content: center;
}

.icon-text span {
  margin-right: 7px;
}

.icon mat-icon {
  margin: 0px 8px 0px 0px;
  font-size: 1px;
  transform: scale(0.85);
}

.only-icon mat-icon {
  margin: 0;
  font-size: 1px;
  transform: scale(0.85);
}

mat-icon.icon-border {
  font-size: 1px;
  border: #bcbdbe solid 1.5px;
  border-radius: 10%;
  padding: 2px;
  margin: 4px;
  width: 40px;
  height: 35px;
}

mat-icon.icon-border-circle {
  font-size: 1px;
  border: #bcbdbe solid 1px;
  border-radius: 50%;
  padding: 5px;
  margin: 0px;
  width: 37px;
  height: 37px;
}

/* mat-icon.is-1 {
  transform: scale(1.1);
  margin: 8px;
}
mat-icon.is-2 {
  transform: scale(1.2);
  margin: 11px;
}
mat-icon.is-3 {
  transform: scale(1.3);
  margin: 14px;
}
mat-icon.is-4 {
  transform: scale(1.4);
  margin: 17px;
}
mat-icon.is-5 {
  transform: scale(1.5);
  margin: 20px;
} */

/****** LINEA hr ******/
.hr-text {
  line-height: 0.01em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  &:before {
    content: "";
    background: linear-gradient(to right, transparent, #000000, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 0.5em;
    line-height: 1.5em;
    color: #000000;
    background-color: #fcfcfa;
  }
}

/****** POINTER ******/
.pointer {
  cursor: pointer;
}

/****** PRIMENG ******/

.p-paginator button {
  margin: 0px 3px;
  border-radius: 50%;
}

.p-paginator-pages button {
  margin: 0px 3px;
  border-radius: 50%;
}

.p-highlight {
  background-color: var(--BotonTerciario);
  opacity: 0.9;
  color: #fff;
}
