/* You can add global styles to this file, and also import other style files */

:root {
  --form-items-border: #7a7a7a;
  --form-itemsInvalid-border: #f04553;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/****** FORM ******/
.form-label {
  margin-left: 0.5rem;
}

.form-control {
  border-radius: 13px !important;
}

.form-control:focus {
  border-color: var(--form-items-border) !important;
  box-shadow: none !important;
}

.form-control:hover {
  border-color: var(--form-items-border) !important;
}

.form-control.is-invalid {
  border-color: var(--form-itemsInvalid-border) !important;
}

.form-select {
  border-radius: 13px !important;
}

.form-select:focus {
  border-color: var(--form-items-border) !important;
  box-shadow: none !important;
}

.form-select:hover {
  border-color: var(--form-items-border) !important;
}

.form-select.is-invalid {
  border-color: var(--form-itemsInvalid-border) !important;
}

.form-check-input {
  border-color: #cecece !important;
}

.form-check-input:hover {
  border-color: var(--form-items-border) !important;
}

.form-check-input:focus {
  border-color: var(--form-items-border) !important;
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: var(--Primario) !important;
}

.form-check-input.is-invalid {
  border-color: var(--form-itemsInvalid-border) !important;
}

.dropdown .dropdown-item:active {
  background-color: var(--BotonTerciario) !important;
  font-weight: bold !important;
  color: #fff !important;
}

.form-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/****** BUTTONS ******/
.btn {
  border-radius: 20px !important;
}

.btn.normal {
  border-radius: 5px !important;
}

.btn-primary {
  background-color: var(--BotonPrimario) !important;
  border-color: var(--BotonPrimario) !important;
}

.btn-primary:focus {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4) !important;
}

.btn-primary:active {
  filter: brightness(90%) !important;
}

.btn-secondary {
  background-color: var(--BotonSecundario) !important;
  border-color: var(--BotonSecundario) !important;
}

.btn-secondary:focus {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3) !important;
}

.btn-secondary:active {
  filter: brightness(90%) !important;
}

.btn-tertiary {
  background-color: var(--BotonTerciario) !important;
  border-color: var(--BotonTerciario) !important;
  color: #fff !important;
}

.btn-tertiary:focus {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2) !important;
}

.btn-tertiary:active {
  filter: brightness(90%) !important;
}

.btn-outline-secondary:focus {
  box-shadow: 2px 3px 5px rgba(255, 255, 255, 0) !important;
}

/****** BACKGROUND ******/
.bg-header {
  background-color: var(--Header);
}

.bg-superior {
  background-color: var(--BandaSuperior);
}

.bg-footer {
  background-color: var(--Footer);
}

.bg-menu-item {
  background-color: var(--Primario);
}

.bg.bg-primary {
  background-color: var(--Primario) !important;
}

.bg.bg-secondary {
  background-color: var(--Secundario) !important;
}

.bg.bg-tertiary {
  background-color: var(--TextoTerciario) !important;
}

/****** TEXTOS ******/
.txt.text-primary {
  color: var(--TextoPrimario) !important;
}

.txt.text-secondary {
  color: var(--TextoSecundario) !important;
}

.txt.text-tertiary {
  color: var(--TextoTerciario) !important;
}

/****** OTROS ******/
/****** NAV pills ******/
.nav.nav-pills .nav-item .nav-link {
  color: var(--Secundario);
}

.nav.nav-pills .nav-item .nav-link.active {
  color: #ffffff;
  background: var(--Primario);
}

/****** ICONO EN INPUT ******/
.toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  color: var(--form-items-border);
}

.toggle-icon.error {
  top: 31%;
  right: 30px;
}

/****** ICONO A AL IZQUIERDA ******/
.icon-left {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 10;
  color: var(--form-items-border);
}
.form-control.icon {
  padding-left: 2.1rem !important;
}

/****** ICONOS SVG ******/
.icon-text {
  display: flex;
  align-items: center;
}

.icon-text.buton {
  justify-content: center;
}

.icon-text span {
  margin-right: 7px;
}

.icon mat-icon {
  margin: 0px 8px 0px 0px;
  font-size: 1px;
  transform: scale(0.85);
}

.only-icon mat-icon {
  margin: 0;
  font-size: 1px;
  transform: scale(0.85);
}

mat-icon.icon-border {
  font-size: 1px;
  border: #bcbdbe solid 1.5px;
  border-radius: 10%;
  padding: 2px;
  margin: 4px;
  width: 40px;
  height: 35px;
}

mat-icon.icon-border-circle {
  font-size: 1px;
  border: #bcbdbe solid 1px;
  border-radius: 50%;
  padding: 5px;
  margin: 0px;
  width: 37px;
  height: 37px;
}

/****** LINEA hr ******/
.hr-text {
  line-height: 0.01em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  &:before {
    content: "";
    background: linear-gradient(to right, transparent, #000000, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 0.5em;
    line-height: 1.5em;
    color: #000000;
    background-color: #fcfcfa;
  }
}

/****** IMAGEN CIRCULAR ******/
.imgRedonda {
  padding: 4px;
  width: 80px;
  height: 80px;
  border-radius: 160px;
  border: 1px solid #dbdbdb;
  object-fit: cover;
  object-position: center;
}

.imgRedonda-ranking {
  width: 40px;
  height: 40px;
  padding: 1px;
  border-radius: 160px;
  border: 1px solid #dbdbdb;
  object-fit: cover;
  object-position: center;
}

/****** SCROLL ******/
textarea {
  scrollbar-width: thin; /* 'thin', 'auto', o 'none' */
  scrollbar-color: #888 #eee; /* thumb color y track color */
}

/****** POINTER ******/
.pointer {
  cursor: pointer;
}

/****** PRIMENG ******/

.p-paginator button {
  margin: 0px 3px;
  border-radius: 50%;
}

.p-paginator-pages button {
  margin: 0px 3px;
  border-radius: 50%;
}

.p-highlight {
  background-color: var(--BotonTerciario);
  opacity: 0.9;
  color: #fff;
}
