<div class="row g-3 mt-md-5">
  <!-- ****** Resumen general ****** -->
  <div class="col-12 col-md-6">
    <div class="shadow-lg bg-white p-4 px-lg-5 rounded">
      <h5 class="mb-3 text-center txt text-primary">Resumen general</h5>
      <div class="row g-3 text-center">
        <div class="col-12 col-md-4">
          <h2 class="txt text-primary">{{ retosCompletados }}</h2>
          <span class="txt text-secondary">Retos Completados</span>
        </div>
        <div class="col-12 col-md-4">
          <h2 class="txt text-primary">{{ medallasConseguidas }}</h2>
          <span class="txt text-secondary">Medallas Conseguidas</span>
        </div>
        <div class="col-12 col-md-4">
          <h2 class="txt text-primary">{{ recomensasReclamadas }}</h2>
          <span class="txt text-secondary">Recompensas Reclamadas</span>
        </div>
      </div>
    </div>
  </div>
  <!-- ****** Usuarios más activos ****** -->
  <div class="col-12 col-md-6">
    <div class="shadow-lg bg-white p-4 px-lg-5 rounded">
      <h5 class="mb-3 text-center txt text-primary">Usuarios más activos</h5>
      <div class="text-center col-12 mb-3" *ngIf="!usuarios.length">
        <span>Sin usuarios más activos</span>
      </div>
      <div class="row g-3 d-flex justify-content-center">
        <div class="col-3" *ngFor="let item of usuarios">
          <img
            [src]="getImage(item.foto, 'usuario', 'default-user.jpg')"
            class="img-thumbnail mx-1"
            width="80"
            alt="user"
          />
          <small class="text-truncate d-block"
            >{{ item.nombre }} {{ item.apellido }}</small
          >
        </div>
      </div>
    </div>
  </div>
  <!-- ****** Noticias en tendencia ****** -->
  <div class="col-12 col-md-6">
    <div class="shadow-lg bg-white p-4 px-lg-5 rounded">
      <h5 class="mb-3 text-center txt text-primary">Noticias en tendencia</h5>
      <div class="text-center col-12" *ngIf="!noticias.length">
        <span>Sin noticias</span>
      </div>
      <div class="card mb-2" *ngFor="let item of noticias">
        <div
          class="card-body d-flex justify-content-between align-items-center"
        >
          <div class="col-5 col-lg-7 col-xl-8 text-truncate">
            <span>{{ item.titular }}</span>
          </div>
          <div class="col-6 col-lg-4 col-xl-3">
            <div class="row g-3">
              <div class="col-6 text-end text-truncate">
                <i class="fa-regular fa-thumbs-up me-1"></i
                >{{ item.totalLikes }}
              </div>
              <div class="col-6 text-start text-truncate">
                <i class="fa-regular fa-comments me-1"></i
                >{{ item.totalComents }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ****** Puntos alcanzados ****** -->
  <div class="col-12 col-md-6">
    <div class="shadow-lg bg-white p-4 px-lg-5 rounded">
      <h5 class="mb-3 text-center txt text-primary">Puntos alcanzados</h5>
      <div>
        <canvas id="chart">{{ chart }}</canvas>
      </div>
    </div>
  </div>
</div>
