<div class="row g-3 mt-md-5">
  <!-- ****** Resumen general ****** -->
  <div class="col-12 col-md-6">
    <div class="shadow-lg bg-white p-4 px-lg-5 rounded">
      <h5 class="mb-3 text-center txt text-primary">Resumen general</h5>
      <div class="row g-3 text-center">
        <div class="col-12 col-md-4">
          <h2 class="txt text-primary">{{ retosCompletados }}</h2>
          <span class="txt text-secondary">Retos Compretados</span>
        </div>
        <div class="col-12 col-md-4">
          <h2 class="txt text-primary">{{ medallasConseguidas }}</h2>
          <span class="txt text-secondary">Medallas Conseguidas</span>
        </div>
        <div class="col-12 col-md-4">
          <h2 class="txt text-primary">{{ recomensasReclamadas }}</h2>
          <span class="txt text-secondary">Recompensas Reclamadas</span>
        </div>
      </div>
    </div>
  </div>
  <!-- ****** Usuarios más activos ****** -->
  <div class="col-12 col-md-6">
    <div class="shadow-lg bg-white p-4 px-lg-5 rounded">
      <h5 class="mb-3 text-center txt text-primary">Usuarios más activos</h5>
      <div class="row g-3 text-center">
        <div class="col-12">
          <img
            *ngFor="let item of usuarios"
            [src]="getImage(item.foto, 'usuario', 'default-user.jpg')"
            class="img-thumbnail mx-1"
            width="80"
            alt="user"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- ****** Noticias en tendencia ****** -->
  <div class="col-12 col-md-6">
    <div class="shadow-lg bg-white p-4 px-lg-5 rounded">
      <h5 class="mb-3 text-center txt text-primary">Noticias en tendencia</h5>
      <div>
        <h5 class="txt text-secondary" *ngFor="let item of noticias">
          {{ item.titular }}
        </h5>
      </div>
    </div>
  </div>
  <!-- ****** Evolución en el tiempo ****** -->
  <div class="col-12 col-md-6">
    <div class="shadow-lg bg-white p-4 px-lg-5 rounded">
      <h5 class="mb-3 text-center txt text-primary">Puntos alcanzados</h5>
      <div>
        <canvas id="chart">{{ chart }}</canvas>
      </div>
    </div>
  </div>
</div>
