<div>
  <div *ngIf="!ur.length">{{ info }}</div>

  <div class="row g-3 mb-4">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of paginatedItems()">
      <div
        class="shadow-lg p-3 mb-2 bg-body rounded pointer"
        [attr.data-bs-toggle]="
          item.reto.tipoReto !== 'Comportamiento' ? 'modal' : ''
        "
        data-bs-target="#modalArchivos"
        (click)="getArchivos(item)"
      >
        <div class="row g-3">
          <div class="col-3 text-center">
            <img
              [src]="getImage(item.usuario.foto, 'usuario', 'default-user.jpg')"
              class="img-thumbnail"
              width="100"
              alt="{{ item.usuario.nombre }}"
            />
          </div>
          <div class="col-9">
            <span class="txt text-secondary fw-semibold me-2"
              >{{ item.usuario.nombre }} {{ item.usuario.apellido }}</span
            >
            <small class="d-block">{{ item.usuario.correo }}</small>
            <small class="d-block" *ngIf="item.reto.items > 0"
              >Archivos: {{ item.reto.items }}</small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-content-center">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="totalItems()"
    ></p-paginator>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalArchivos"
  tabindex="-1"
  aria-labelledby="modalArchivosLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalArchivosLabel">Archivos</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #closeModal
        ></button>
      </div>
      <div class="modal-body">
        <div class="files-container">
          <div class="row g-3">
            <div class="col-3" *ngFor="let item of archivos; index as i">
              <div *ngIf="tipoArchivo === 'Imagen/png jpg jpeg'">
                <a
                  [href]="getArchivo(item.archivo, 'Recoleccion')"
                  target="_blank"
                >
                  <img
                    [src]="getArchivo(item.archivo, 'Recoleccion')"
                    class="img-thumbnail"
                    width="100"
                    pTooltip="Vizualizar"
                  />
                </a>
              </div>
              <div
                *ngIf="
                  tipoArchivo !== 'Imagen/png jpg jpeg' &&
                  tipoArchivo !== 'Video'
                "
              >
                <small>archivo {{ i + 1 }}</small>
                <img
                  src="assets/img/default/{{ defaultFile }}"
                  class="img-thumbnail"
                  width="100"
                  pTooltip="Descargar"
                />
              </div>
              <div *ngIf="tipoArchivo === 'Video'">
                <small>Video {{ i + 1 }}</small>
                <img
                  src="assets/img/default/file_video.png"
                  class="img-thumbnail"
                  width="100"
                  pTooltip="Vizualizar"
                />
              </div>
            </div>
          </div>
        </div>
        <div
          class="text-center mt-3"
          *ngIf="
            tipoArchivo !== 'Imagen/png jpg jpeg' && tipoArchivo !== 'Video'
          "
        >
          <button type="button" class="btn btn-primary">Descargar todos</button>
        </div>

        <!-- <table class="table">
          <thead>
            <tr>
              <th>Archivo</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="tipoArchivo === 'Imagen/png jpg jpeg'">
            <tr class="align-middle" *ngFor="let item of archivos">
              <td>
                <img
                  [src]="getArchivo(item.archivo, 'Recoleccion')"
                  class="img-thumbnail"
                  width="100"
                />
              </td>
              <td>
                <a
                  class="btn btn-sm btn-primary"
                  [href]="getArchivo(item.archivo, 'Recoleccion')"
                  target="_blank"
                >
                  <i class="fa-solid fa-expand"></i>
                </a>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="tipoArchivo !== 'Imagen/png jpg jpeg'">
            <tr class="align-middle" *ngFor="let item of archivos; index as i">
              <td>Archivo {{ i + 1 }}.{{ item.archivo.split(".")[1] }}</td>
              <td>
                <button
                  class="btn btn-sm btn-primary"
                  pTooltip="Descargar"
                  (click)="exportArchivo(item.archivo)"
                >
                  <i class="fa-solid fa-download"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table> -->
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="finalizar(0)"
        >
          Reto no superado
        </button>
        <button
          type="button"
          class="btn btn-sm btn-primary"
          (click)="finalizar(1)"
        >
          Reto superado
        </button>
        <button
          type="button"
          class="btn btn-sm btn-tertiary"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>

<p-toast [styleClass]="'col-10 col-md-6 col-lg-3'"></p-toast>
