<div>
  <div *ngIf="!ur.length">{{ info }}</div>

  <nav
    aria-label="breadcrumb"
    style="--bs-breadcrumb-divider: '|'"
    *ngIf="selectedUr.length"
  >
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="txt text-secondary pointer" (click)="finalizarMasivo(0)"
          >Reto no Superado</a
        >
      </li>
      <li class="breadcrumb-item">
        <a class="txt text-secondary pointer" (click)="finalizarMasivo(1)"
          >Reto Superado</a
        >
      </li>
    </ol>
  </nav>

  <p-table
    *ngIf="ur.length"
    [value]="ur"
    [(selection)]="selectedUr"
    (selectionChange)="onSelectionChange($event)"
    [rowHover]="true"
    [paginator]="true"
    [rows]="10"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem" *ngIf="tipoReto === 'Recolección'">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Usuario</th>
        <th>Correo</th>
        <th *ngIf="tipoReto === 'Recolección'">Archivos</th>
        <th>Estado</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td *ngIf="tipoReto === 'Recolección'">
          <p-tableCheckbox
            [value]="item"
            [disabled]="item.completado === 1"
          ></p-tableCheckbox>
        </td>
        <td>
          <img
            [src]="getImage(item.usuario.foto, 'usuario', 'default-user.jpg')"
            class="imgRedonda-ranking me-2"
            alt="user"
          />
          {{ item.usuario.nombre }} {{ item.usuario.apellido }}
        </td>
        <td>{{ item.usuario.correo }}</td>
        <td *ngIf="tipoReto === 'Recolección'">{{ item.reto.items }}</td>
        <td>
          {{ getEstadoTexto(item.completado, item.totalOpsValidador) }}
        </td>
        <td>
          <button
            class="btn btn-tertiary normal only-icon"
            type="button"
            aria-expanded="false"
            [attr.data-bs-toggle]="
              item.reto.tipoReto !== 'Comportamiento' || item.totalOpsValidador
                ? 'modal'
                : ''
            "
            data-bs-target="#modalArchivos"
            (click)="getArchivos(item)"
          >
            <div class="icon-text buton">
              <mat-icon
                svgIcon="recopilacion"
                *ngIf="item.reto.tipoReto !== 'Comportamiento'"
              ></mat-icon>
              <mat-icon
                svgIcon="preguntas"
                *ngIf="item.reto.tipoReto === 'Comportamiento'"
              ></mat-icon>
            </div>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalArchivos"
  tabindex="-1"
  aria-labelledby="modalArchivosLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-lg modal-dialog-scrollable modal-fullscreen-sm-down"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalArchivosLabel">
          <img
            [src]="getImage(currentUserFoto, 'usuario', 'default-user.jpg')"
            class="imgRedonda-ranking me-2"
            alt="user"
          />
          <span>{{ currentUserName }}</span>
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #closeModal
        ></button>
      </div>
      <div class="modal-body">
        <div class="card text-center" *ngIf="!archivos.length">
          <div class="card-body">Ya verificaste al usuario</div>
        </div>

        <div *ngIf="archivos.length">
          <div class="files-container" *ngIf="expandirFileName === ''">
            <div class="row g-3 text-center">
              <div
                class="col-4 col-md-3 col-lg-2"
                *ngFor="let item of archivos; index as i"
              >
                <div
                  *ngIf="tipoArchivo === 'Imagen/png jpg jpeg'"
                  class="pointer"
                  pTooltip="Expandir"
                  (click)="setExpandirFile(item.archivo, i)"
                >
                  <small>Imagen {{ i + 1 }}</small>
                  <img
                    [src]="getArchivo(item.archivo, 'Recoleccion')"
                    class="img-thumbnail"
                    width="150"
                  />
                </div>
                <div
                  *ngIf="
                    tipoArchivo !== 'Imagen/png jpg jpeg' &&
                    tipoArchivo !== 'Video'
                  "
                  class="pointer"
                  pTooltip="Descargar"
                  (click)="exportArchivo(item.archivo)"
                >
                  <small>archivo {{ i + 1 }}</small>
                  <img
                    src="assets/img/default/{{ defaultFile }}"
                    class="img-thumbnail"
                    width="150"
                  />
                </div>
                <div
                  *ngIf="tipoArchivo === 'Video'"
                  class="pointer"
                  pTooltip="Expandir"
                  (click)="setExpandirFile(item.url, i)"
                >
                  <small>Video {{ i + 1 }}</small>
                  <img
                    src="assets/img/default/file_video.png"
                    class="img-thumbnail"
                    width="150"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="text-center">
            <div *ngIf="expandirFileName !== ''">
              <h6 *ngIf="tipoArchivo === 'Video'">
                Video {{ expandirFileIndex + 1 }}
              </h6>
              <h6 *ngIf="tipoArchivo === 'Imagen/png jpg jpeg'">
                Imagen {{ expandirFileIndex + 1 }}
              </h6>
            </div>

            <div
              class="image-container"
              *ngIf="expandirFileName !== '' && tipoArchivo === 'Video'"
            >
              <app-video-player
                [videoUrl]="expandirFileName"
              ></app-video-player>
              <button
                type="button"
                class="btn btn-primary"
                (click)="expandirFileName = ''"
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>

            <div
              class="image-container"
              *ngIf="
                expandirFileName !== '' && tipoArchivo === 'Imagen/png jpg jpeg'
              "
            >
              <img
                [src]="getArchivo(expandirFileName, 'Recoleccion')"
                class="img-thumbnail"
              />
              <button
                type="button"
                class="btn btn-primary"
                (click)="expandirFileName = ''"
              >
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
          </div>

          <div
            class="text-center mt-3"
            *ngIf="
              tipoArchivo !== 'Imagen/png jpg jpeg' &&
              tipoArchivo !== 'Video' &&
              archivos.length
            "
          >
            <button
              type="button"
              class="btn btn-primary"
              (click)="exportZipArchivos()"
            >
              Descargar todos
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer" *ngIf="archivos.length">
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="finalizar(0)"
        >
          Reto no superado
        </button>
        <button
          type="button"
          class="btn btn-sm btn-primary"
          (click)="finalizar(1)"
        >
          Reto superado
        </button>
        <button
          type="button"
          class="btn btn-sm btn-tertiary"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
      </div>
      <div class="modal-footer" *ngIf="!archivos.length">
        <button
          type="button"
          class="btn btn-sm btn-tertiary"
          data-bs-dismiss="modal"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<p-toast [styleClass]="'col-10 col-md-6 col-lg-3'"></p-toast>
