<div class="col-12 col-md-8 col-lg-5 col-xl-4 mx-md-auto">
  <div
    class="shadow-lg p-3 mb-5 bg-body rounded"
    *ngFor="let item of noticia_reaccion"
  >
    <h5 class="txt text-secondary">{{ item.noticia.titular }}</h5>
    <div class="card">
      <img
        [src]="getImage(item.noticia.imagen, 'noticia', 'default-noticia.jpg')"
        class="card-img-top"
        alt="noticia"
      />
      <div class="px-3 mt-2">
        {{ item.noticia.descripcion }}
        <div class="text-truncate" *ngIf="item.noticia.url">
          <a
            class="link-opacity-100 pointer"
            (click)="onNavigate(item.noticia.url)"
          >
            {{ item.noticia.url }}
          </a>
        </div>
      </div>

      <div class="card-body">
        <h5 class="card-title">
          <i
            class="fa-regular fa-thumbs-up me-2 fs-5 pointer"
            type="button"
            (click)="addReaccion('like', item)"
          ></i>
          <i class="fa-regular fa-comments me-1 fs-5"></i>
        </h5>
        <p class="card-text">
          <span class="text-black-50 d-block"
            >{{ item.noticia.totalLikes }} me gusta</span
          >
          <span class="text-black-50 d-block"
            >{{ item.noticia.totalComents }} comentarios</span
          >
        </p>
        <hr class="hr-text" data-content="Comentarios" />
        <form
          class="d-flex align-items-center mb-3"
          [formGroup]="formulario"
          (ngSubmit)="addReaccion('comentario', item)"
        >
          <input
            type="text"
            class="form-control me-md-4 {{
              formulario.get('comentario')?.errors && verErrorsInputs
                ? 'is-invalid'
                : ''
            }}"
            formControlName="comentario"
            placeholder="Escribe tu comentario"
          />
          <button type="submit" class="btn btn-tertiary ms-2 ms-md-0">
            comentar
          </button>
        </form>
        <div
          class="text-danger p-0 mb-3"
          *ngIf="formulario.get('comentario')?.errors && verErrorsInputs"
        >
          <small
            class="d-block"
            *ngIf="formulario.get('comentario')?.hasError('maxlength')"
          >
            Máximo 250 caracteres
          </small>
          <small
            class="d-block"
            *ngIf="formulario.get('comentario')?.hasError('pattern')"
          >
            Contiene caracteres inválidos
          </small>
        </div>
        <div class="box-comentarios" *ngIf="getComentarios(item).length">
          <div class="mb-3" *ngFor="let ob of getComentarios(item)">
            <!-- <img
              src="assets/img/default/default-user.jpg"
              class="imgRedonda me-2"
              alt="user"
            /> -->
            <span>{{ ob.usuario }}</span>
            <small class="d-block">{{ ob.comentario }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
