<div class="mt-3">
  <div *ngIf="tipoVista === 'Resumen general'">
    <div class="p-4 px-lg-5 rounded">
      <div class="row g-3 text-center">
        <div class="col-12 col-lg-4">
          <h2 class="txt text-secondary">23</h2>
          <span>Retos Completados</span>
        </div>
        <div class="col-12 col-lg-4">
          <h2 class="txt text-secondary">23</h2>
          <span>Medallas Conseguidas</span>
        </div>
        <div class="col-12 col-lg-4">
          <h2 class="txt text-secondary">23</h2>
          <span>Recompensas Reclamadas</span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="tipoVista === 'Nivel de Experiencia'">
    <div class="card p-3 mb-3">
      <div class="d-flex">
        <img
          src="assets/img/default/default-nivel.jpg"
          class="img-thumbnail me-2"
          width="60"
          alt="nivel"
        />
        <div class="col-10 pe-5 p-xl-2 align-self-center">
          <div class="d-flex justify-content-between">
            <span class="text-truncate col-6">nivel 1</span>
            <span class="text-truncate">10 / 23</span>
          </div>
          <div class="progress border border-black">
            <div
              class="progress-bar bg bg-secondary"
              role="progressbar"
              aria-label="Success example"
              style="width: 23%"
            >
              23%
            </div>
            <!-- <span class="text-dark">10%</span> -->
          </div>
        </div>
      </div>
    </div>

    <div class="d-grid d-lg-block">
      <button type="button" class="btn btn-secondary btn-sm">
        Perfil de red social
      </button>
    </div>
  </div>

  <div *ngIf="tipoVista === 'Usuarios más activos'">
    <div
      class="row g-3 d-flex justify-content-center justify-content-lg-between text-center mb-3"
    >
      <div class="col-4 col-lg-2">
        <img
          src="assets/img/default/default-user.jpg"
          class="rounded-circle img-thumbnail me-2"
          width="80px"
          alt="user"
        />
        <small class="text-truncate d-block">Usuario 1</small>
      </div>
      <div class="col-4 col-lg-2">
        <img
          src="assets/img/default/default-user.jpg"
          class="rounded-circle img-thumbnail me-2"
          width="80px"
          alt="user"
        />
        <small class="text-truncate d-block">Usuario 2</small>
      </div>
      <div class="col-4 col-lg-2">
        <img
          src="assets/img/default/default-user.jpg"
          class="rounded-circle img-thumbnail me-2"
          width="80px"
          alt="user"
        />
        <small class="text-truncate d-block">Usuario 3</small>
      </div>
      <div class="col-4 col-lg-2">
        <img
          src="assets/img/default/default-user.jpg"
          class="rounded-circle img-thumbnail me-2"
          width="80px"
          alt="user"
        />
        <small class="text-truncate d-block">Usuario 4</small>
      </div>
      <div class="col-4 col-lg-2">
        <img
          src="assets/img/default/default-user.jpg"
          class="rounded-circle img-thumbnail me-2"
          width="80px"
          alt="user"
        />
        <small class="text-truncate d-block">Usuario 5</small>
      </div>
    </div>

    <!-- <div class="d-grid d-lg-block">
      <button type="button" class="btn btn-secondary btn-sm">
        Ver todos los usuarios
      </button>
    </div> -->
  </div>

  <div *ngIf="tipoVista === 'Noticias'">
    <div class="card mb-2">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div class="col-5 col-lg-7 col-xl-8 text-truncate">
          <span>Titular de la noticia</span>
        </div>
        <div class="col-6 col-lg-4 col-xl-3">
          <div class="row g-3">
            <div class="col-6 text-end text-truncate">
              <i class="fa-regular fa-thumbs-up me-1"></i>23
            </div>
            <div class="col-6 text-start text-truncate">
              <i class="fa-regular fa-comments me-1"></i>23
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-2">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div class="col-5 col-lg-7 col-xl-8 text-truncate">
          <span>Titular de la noticia</span>
        </div>
        <div class="col-6 col-lg-4 col-xl-3">
          <div class="row g-3">
            <div class="col-6 text-end text-truncate">
              <i class="fa-regular fa-thumbs-up me-1"></i>23
            </div>
            <div class="col-6 text-start text-truncate">
              <i class="fa-regular fa-comments me-1"></i>23
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-grid d-lg-block">
      <button type="button" class="btn btn-secondary btn-sm">
        Ver todas las noticias
      </button>
    </div>
  </div>

  <div *ngIf="tipoVista === 'Mis medallas'">
    <div
      class="row g-3 d-flex justify-content-center justify-content-lg-between text-center mb-3"
    >
      <div class="col-4 col-lg-2">
        <img
          src="assets/img/default/default-medalla.jpg"
          class="rounded-circle img-thumbnail me-2"
          width="80px"
          alt="medalla"
        />
        <small class="text-truncate d-block">Medalla 1</small>
      </div>
      <div class="col-4 col-lg-2">
        <img
          src="assets/img/default/default-medalla.jpg"
          class="rounded-circle img-thumbnail me-2"
          width="80px"
          alt="medalla"
        />
        <small class="text-truncate d-block">Medalla 2</small>
      </div>
      <div class="col-4 col-lg-2">
        <img
          src="assets/img/default/default-medalla.jpg"
          class="rounded-circle img-thumbnail me-2"
          width="80px"
          alt="medalla"
        />
        <small class="text-truncate d-block">Medalla 3</small>
      </div>
      <div class="col-4 col-lg-2">
        <img
          src="assets/img/default/default-medalla.jpg"
          class="rounded-circle img-thumbnail me-2"
          width="80px"
          alt="medalla"
        />
        <small class="text-truncate d-block">Medalla 4</small>
      </div>
      <div class="col-4 col-lg-2">
        <img
          src="assets/img/default/default-medalla.jpg"
          class="rounded-circle img-thumbnail me-2"
          width="80px"
          alt="medalla"
        />
        <small class="text-truncate d-block">Medalla 5</small>
      </div>
    </div>

    <div class="d-grid d-lg-block">
      <button type="button" class="btn btn-secondary btn-sm">
        Ver todas las medallas
      </button>
    </div>
  </div>

  <div *ngIf="tipoVista === 'Retos completados'">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Tipo</th>
          <th scope="col">Fecha de finalización</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Reto 1</td>
          <td>trivia</td>
          <td>10-23-2023</td>
        </tr>
        <tr>
          <td>Reto 2</td>
          <td>trivia</td>
          <td>10-23-2023</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="tipoVista === 'Puntos de experiencia'">
    <img
      src="assets/img/default/grafico_linea.PNG"
      class="img-thumbnail"
      alt="puntos"
    />
  </div>

  <div *ngIf="tipoVista === 'Mi evolución'">
    <img
      src="assets/img/default/grafico_linea.PNG"
      class="img-thumbnail"
      alt="puntos"
    />
  </div>

  <div *ngIf="tipoVista === 'Recompensas más reclamadas'">
    <div
      class="row g-3 d-flex justify-content-center justify-content-lg-between text-center mb-3"
    >
      <div class="col-4 col-lg-2">
        <img
          src="assets/img/default/default-recompensa.jpg"
          class="rounded-circle img-thumbnail me-2"
          width="80px"
          alt="medalla"
        />
        <small class="text-truncate d-block">Recompensa 1</small>
      </div>
      <div class="col-4 col-lg-2">
        <img
          src="assets/img/default/default-recompensa.jpg"
          class="rounded-circle img-thumbnail me-2"
          width="80px"
          alt="medalla"
        />
        <small class="text-truncate d-block">Recompensa 2</small>
      </div>
      <div class="col-4 col-lg-2">
        <img
          src="assets/img/default/default-recompensa.jpg"
          class="rounded-circle img-thumbnail me-2"
          width="80px"
          alt="medalla"
        />
        <small class="text-truncate d-block">Recompensa 3</small>
      </div>
      <div class="col-4 col-lg-2">
        <img
          src="assets/img/default/default-recompensa.jpg"
          class="rounded-circle img-thumbnail me-2"
          width="80px"
          alt="medalla"
        />
        <small class="text-truncate d-block">Recompensa 4</small>
      </div>
      <div class="col-4 col-lg-2">
        <img
          src="assets/img/default/default-recompensa.jpg"
          class="rounded-circle img-thumbnail me-2"
          width="80px"
          alt="medalla"
        />
        <small class="text-truncate d-block">Recompensa 5</small>
      </div>
    </div>

    <div class="d-grid d-lg-block">
      <button type="button" class="btn btn-secondary btn-sm">
        Ver todas las recompensas
      </button>
    </div>
  </div>

  <div *ngIf="tipoVista === 'Mis retos asignados'">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <span>Reto 1</span>
            <div>
              <span class="badge text-bg-warning me-2">Pendiente</span>
              <span class="badge text-bg-success me-2">Abierto</span>
              <span class="badge text-bg-success">Activo</span>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <span>Reto 2</span>
            <div>
              <span class="badge text-bg-warning me-2">Pendiente</span>
              <span class="badge text-bg-danger me-2">Cerrado</span>
              <span class="badge text-bg-success">Activo</span>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <span>Reto 3</span>
            <div>
              <span class="badge text-bg-success me-2">Completado</span>
              <span class="badge text-bg-success me-2">Abierto</span>
              <span class="badge text-bg-danger">Desactivado</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="tipoVista === 'Ranking por puntos'">
    <div class="table-responsive">
      <table class="table align-middle">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Usuario</th>
            <th scope="col">Puntos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>
              <img
                src="assets/img/default/default-user.jpg"
                class="rounded-circle img-thumbnail me-2"
                width="50px"
                alt="medalla"
              />
            </td>
            <td>Usuario 1</td>
            <td>22</td>
          </tr>
          <tr>
            <th>2</th>
            <td>
              <img
                src="assets/img/default/default-user.jpg"
                class="rounded-circle img-thumbnail me-2"
                width="50px"
                alt="medalla"
              />
            </td>
            <td>Usuario 2</td>
            <td>23</td>
          </tr>
          <tr class="table-secondary">
            <th>23</th>
            <td>
              <img
                src="assets/img/default/default-user.jpg"
                class="rounded-circle img-thumbnail me-2"
                width="50px"
                alt="medalla"
              />
            </td>
            <td>Usuario 3</td>
            <td>24</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-grid d-lg-block">
      <button type="button" class="btn btn-secondary btn-sm">
        Ver ranking completo
      </button>
    </div>
  </div>

  <div *ngIf="tipoVista === 'Uso del plan'">
    <div class="mb-3">
      <div class="d-flex justify-content-between align-items-center">
        <span class="fs-5">Usuarios</span>
        <small class="me-3">10 de 23</small>
      </div>
      <div class="me-3">
        <div class="progress">
          <div
            class="progress-bar bg bg-primary"
            role="progressbar"
            aria-label="Example with label"
            style="width: 23%"
          >
            23%
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <div class="d-flex justify-content-between align-items-center">
        <span class="fs-5">Retos</span>
        <small class="me-3">23 de 60</small>
      </div>
      <div class="me-3">
        <div class="progress">
          <div
            class="progress-bar bg bg-primary"
            role="progressbar"
            aria-label="Example with label"
            style="width: 38%"
          >
            38%
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <div class="d-flex justify-content-between align-items-center">
        <span class="fs-5">Recompensas</span>
        <small class="me-3">50 de 100</small>
      </div>
      <div class="me-3">
        <div class="progress">
          <div
            class="progress-bar bg bg-primary"
            role="progressbar"
            aria-label="Example with label"
            style="width: 50%"
          >
            50%
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <div class="d-flex justify-content-between align-items-center">
        <span class="fs-5">Batallas</span>
        <small class="me-3">80 de 140</small>
      </div>
      <div class="me-3">
        <div class="progress">
          <div
            class="progress-bar bg bg-primary"
            role="progressbar"
            aria-label="Example with label"
            style="width: 69%"
          >
            69%
          </div>
        </div>
      </div>
    </div>

    <div class="d-grid d-lg-block">
      <button type="button" class="btn btn-secondary btn-sm">
        Cambiar de plan
      </button>
    </div>
  </div>

  <div *ngIf="tipoVista === ''">
    <h6>por defecto</h6>
  </div>
</div>
