<div class="row g-3 mt-md-5">
  <!-- ****** Nivel de Experiencia ****** -->
  <div class="col-12 col-md-6">
    <div class="shadow-lg bg-white p-4 px-lg-5 rounded">
      <h5 class="mb-3 text-center txt text-primary">Nivel de Experiencia</h5>
      <div class="rounded-pill p-2 bg-menu-item">
        <div
          class="row g-3 text-center align-items-center text-white fw-semibold"
        >
          <div class="col-auto col-xl-2">
            <img
              src="assets/img/default/default-nivel.jpg"
              class="rounded-circle img-thumbnail"
              width="60px"
              alt="nivel"
            />
          </div>
          <div class="col-7 col-md-8 col-xl-10">
            <div class="d-flex justify-content-between col-10">
              <span>Nivel 3</span>
              <span>90 / 20</span>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col-10 col-md-9 col-lg-10">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-label="Success example"
                    style="width: 23%"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <div class="col-2 text-start">
                <span>100%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ****** Mis Medallas ****** -->
  <div class="col-12 col-md-6">
    <div class="shadow-lg bg-white p-4 px-lg-5 rounded">
      <h5 class="mb-3 text-center txt text-primary">Mis Medallas</h5>
      <div class="row g-3 text-center">
        <div class="col-12">
          <img
            src="assets/img/default/default-medalla.jpg"
            class="rounded-circle img-thumbnail mx-2 mx-lg-3"
            width="80"
            alt="medalla"
          />
          <img
            src="assets/img/default/default-medalla.jpg"
            class="rounded-circle img-thumbnail mx-2 mx-lg-3"
            width="80"
            alt="medalla"
          />
          <img
            src="assets/img/default/default-medalla.jpg"
            class="rounded-circle img-thumbnail mx-2 mx-lg-3"
            width="80"
            alt="medalla"
          />
          <img
            src="assets/img/default/default-medalla.jpg"
            class="rounded-circle img-thumbnail mx-lg-3 d-none d-xl-inline"
            width="80"
            alt="medalla"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- ****** Resumen general ****** -->
  <div class="col-12 col-md-6">
    <div class="shadow-lg bg-white p-4 px-lg-5 rounded">
      <h5 class="mb-3 text-center txt text-primary">Resumen general</h5>
      <div class="row g-3 text-center">
        <div class="col-12 col-md-6 col-xl-3">
          <h2 class="txt text-primary">23</h2>
          <span class="txt text-secondary">Retos Compretados</span>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
          <h2 class="txt text-primary">23</h2>
          <span class="txt text-secondary">Medallas Conseguidas</span>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
          <h2 class="txt text-primary">230</h2>
          <span class="txt text-secondary">Horas de Conexion</span>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
          <h2 class="txt text-primary">23</h2>
          <span class="txt text-secondary">Recompensas Reclamadas</span>
        </div>
      </div>
    </div>
  </div>
  <!-- ****** Noticias ****** -->
  <div class="col-12 col-md-6">
    <div class="shadow-lg bg-white p-4 px-lg-5 rounded">
      <h5 class="mb-3 text-center txt text-primary">Noticias</h5>

      <div class="border border-1 rounded p-2 mb-2">
        <div class="row g-3 px-2 px-lg-5 align-items-center">
          <div class="col-6 lh-sm pointer">
            <span class="d-block fs-5 text-truncate"
              >Podcast para aprender</span
            >
            <small class="text-black-50 fw-semibold">23/01/2024</small>
          </div>
          <div class="col-6 text-end text-truncate">
            <span class="m-2 me-lg-3"
              ><i class="fa-regular fa-thumbs-up"></i>100</span
            >
            <span><i class="fa-regular fa-comments"></i>100</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ****** Últimos retos accedidos ****** -->
  <div class="col-12 col-md-6">
    <div class="shadow-lg bg-white p-4 px-lg-5 rounded">
      <h5 class="mb-3 text-center txt text-primary">Últimos retos accedidos</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Usuarios</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Pregunton</td>
            <td>Trivia</td>
            <td>23</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
