<div class="row g-3 mt-md-5">
  <!-- ****** Nivel de Experiencia ****** -->
  <div class="col-12 col-md-6">
    <div class="shadow-lg bg-white p-4 px-lg-5 rounded">
      <h5 class="mb-3 text-center txt text-primary">Nivel de Experiencia</h5>
      <div class="rounded-pill p-2 bg-menu-item">
        <div
          class="row g-3 text-center align-items-center text-white fw-semibold"
        >
          <div class="col-auto col-xl-2">
            <img
              *ngIf="nivel.length"
              [src]="getImage(nivel[0].imagen, 'nivel', 'default-nivel.jpg')"
              class="rounded-circle img-thumbnail"
              width="60px"
              alt="nivel"
            />
            <img
              *ngIf="!nivel.length"
              src="assets/img/default/default-nivel.jpg"
              class="rounded-circle img-thumbnail"
              width="60px"
              alt="nivel"
            />
          </div>
          <div class="col-7 col-md-8 col-xl-10">
            <div class="d-flex justify-content-between col-10">
              <span *ngIf="nivel.length">{{ nivel[0].nombre }}</span>
              <span *ngIf="!nivel.length">Nivel 0</span>
              <span>90 / 20</span>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col-10 col-md-9 col-lg-10">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-label="Success example"
                    style="width: 23%"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <div class="col-2 text-start">
                <span>100%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ****** Mis Medallas ****** -->
  <div class="col-12 col-md-6">
    <div class="shadow-lg bg-white p-4 px-lg-5 rounded">
      <h5 class="mb-3 text-center txt text-primary">Mis Medallas</h5>
      <div class="row g-3 text-center">
        <img
          *ngFor="let item of medallas"
          [src]="getImage(item.imagen, 'medalla', 'default-medalla.jpg')"
          class="rounded-circle img-thumbnail mx-2 mx-lg-3"
          width="80"
          alt="medalla"
        />
        <div class="col-12" *ngIf="!medallas.length">
          <span>Sin medallas</span>
        </div>
      </div>
    </div>
  </div>
  <!-- ****** Resumen general ****** -->
  <div class="col-12 col-md-6">
    <div class="shadow-lg bg-white p-4 px-lg-5 rounded">
      <h5 class="mb-3 text-center txt text-primary">Resumen general</h5>
      <div class="row g-3 text-center">
        <div class="col-12 col-md-6 col-xl-4">
          <h2 class="txt text-primary">{{ retosCompletados }}</h2>
          <span class="txt text-secondary">Retos Compretados</span>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <h2 class="txt text-primary">{{ medallasConseguidas }}</h2>
          <span class="txt text-secondary">Medallas Conseguidas</span>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <h2 class="txt text-primary">{{ recomensasReclamadas }}</h2>
          <span class="txt text-secondary">Recompensas Reclamadas</span>
        </div>
      </div>
    </div>
  </div>
  <!-- ****** Noticias ****** -->
  <div class="col-12 col-md-6">
    <div class="shadow-lg bg-white p-4 px-lg-5 rounded">
      <h5 class="mb-3 text-center txt text-primary">Noticias</h5>
      <div class="text-center col-12" *ngIf="!noticias.length">
        <span>Sin noticias</span>
      </div>
      <div class="card mb-2" *ngFor="let item of noticias">
        <div class="card-body d-flex justify-content-between">
          <div class="col-5 col-lg-7 col-xl-8 text-truncate">
            {{ item.titular }}
          </div>
          <div class="col-6 col-lg-4 col-xl-3">
            <div class="row g-3">
              <div class="col-6 text-end text-truncate">
                <i class="fa-regular fa-thumbs-up me-1"></i
                >{{ item.totalLikes }}
              </div>
              <div class="col-6 text-start text-truncate">
                <i class="fa-regular fa-comments me-1"></i
                >{{ item.totalComents }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ****** Últimos retos terminados ****** -->
  <div class="col-12 col-md-6">
    <div class="shadow-lg bg-white p-4 px-lg-5 rounded">
      <h5 class="mb-3 text-center txt text-primary">
        Últimos retos terminados
      </h5>
      <div class="text-center col-12" *ngIf="!retos.length">
        <span>Sin retos</span>
      </div>
      <table class="table" *ngIf="retos.length">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Puntos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of retos">
            <td>{{ item.nombre }}</td>
            <td>{{ item.tipoReto }}</td>
            <td>{{ item.puntosRecompensa }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
