<div class="shadow-lg bg-white px-4 py-2 px-lg-5 rounded">
  <h5 class="my-5 text-center txt text-primary text-uppercase">retos</h5>
  <div class="row g-3 mb-4">
    <div class="col-6 col-md-auto d-grid d-md-block">
      <a
        class="btn btn-primary icon"
        (click)="changeRoute('/upsert-reto', { type: 'crear' })"
      >
        <div class="icon-text buton">
          <mat-icon svgIcon="agregar"></mat-icon><span>Crear</span>
        </div>
      </a>
    </div>
  </div>
  <!-- buscador -->
  <form
    class="d-md-flex w-100"
    [formGroup]="formulario"
    (ngSubmit)="submitBuscar()"
  >
    <div class="input-group flex-grow-1 me-md-3 mb-3 mb-md-0">
      <span class="icon-left">
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
      <input
        type="text"
        class="form-control icon"
        placeholder="Buscar..."
        formControlName="buscar"
        (input)="defaultList($event)"
      />
    </div>
    <div class="d-grid">
      <button type="submit" class="btn btn-secondary">Buscar</button>
    </div>
  </form>
  <!-- Fin buscador -->

  <!-- Items -->
  <div class="mb-2 mb-md-4">
    <p-dataView
      #dv
      [value]="retos"
      [rows]="10"
      [paginator]="true"
      [emptyMessage]="info"
    >
      <ng-template let-reto pTemplate="listItem">
        <div class="col-12">
          <div class="p-4 gap-4">
            <div class="row g-3 text-center text-lg-start align-items-center">
              <div class="col-12 col-lg-auto">
                <img
                  class="img-thumbnail"
                  [src]="getImage(reto.imagen, 'reto', 'default-reto.jpg')"
                  width="135"
                  [alt]="reto.imagen"
                />
              </div>
              <div class="col-12 col-lg-4">
                <h5 class="txt text-secondary">
                  {{ reto.nombre }}
                </h5>
                <div class="flex align-items-center gap-3">
                  <span class="d-block txt text-primary">
                    {{ reto.tipoReto }}
                  </span>
                  <small class="d-block" *ngIf="reto.enEquipo">
                    Reto en Equipo
                  </small>
                  <small class="d-block" *ngIf="!reto.enEquipo">
                    Reto Individual
                  </small>
                  <span
                    class="d-block fw-semibold {{
                      reto.estado ? 'text-success' : 'text-danger'
                    }}"
                  >
                    {{ reto.estado ? "Activo" : "Desactivado" }}
                  </span>
                </div>
                <div class="flex align-items-center gap-3">
                  <strong>Fecha de Apertura:</strong>
                  <span class="text-truncate">
                    {{ dateCompare(reto.fechaApertura) }}
                  </span>
                </div>
                <div class="flex align-items-center gap-3">
                  <strong>Fecha de Cierre:</strong>
                  <span class="text-truncate">
                    {{ dateCompare(reto.fechaCierre) }}
                  </span>
                </div>
              </div>

              <div class="col-12 col-lg-3">
                <div class="flex align-items-center gap-3">
                  <div *ngIf="reto.tipoReto === 'Trivia'">
                    <div>
                      <strong>Vidas:</strong>
                      <span class="">
                        {{ reto.vidas }}
                      </span>
                    </div>
                    <div>
                      <strong>Tiempo Máximo:</strong>
                      <span class="">
                        {{ formatTiempo(reto.tiempo_ms) }}
                        {{ getTypeTime(reto.tiempo_ms) }}
                      </span>
                    </div>
                    <div>
                      <strong>Puntos de Recompensa:</strong>
                      <span class="">
                        {{ reto.puntosRecompensa }}
                      </span>
                    </div>
                    <div>
                      <strong>Créditos Obtenidos:</strong>
                      <span class="">
                        {{ reto.creditosObtenidos }}
                      </span>
                    </div>
                  </div>

                  <div
                    class="text-truncate"
                    *ngIf="reto.tipoReto === 'Encuesta'"
                  >
                    <strong>Tipo de Encuesta:</strong>
                    <span> {{ reto.tipoEncuesta }} </span>
                  </div>

                  <div
                    class="text-truncate"
                    *ngIf="reto.tipoReto !== 'Recolección'"
                  >
                    <strong>Cantidad de Preguntas:</strong>
                    <span> {{ reto.totalPreguntas }} </span>
                  </div>
                  <div
                    class="text-truncate"
                    *ngIf="
                      reto.tipoReto === 'Recolección' ||
                      reto.tipoReto === 'Comportamiento'
                    "
                  >
                    <strong>Tipo de verificación:</strong>
                    <span> {{ reto.tipoValidador }} </span>
                  </div>
                  <div class="text-truncate" *ngIf="reto.validadores > 0">
                    <strong>Verificadores:</strong>
                    <span> {{ reto.validadores }} </span>
                  </div>
                  <div
                    class="text-truncate"
                    *ngIf="reto.tipoReto === 'Recolección'"
                  >
                    <strong>Cantidad de items:</strong>
                    <span> {{ reto.items }} </span>
                  </div>

                  <div class="text-truncate" *ngIf="!reto.enEquipo">
                    <strong>Usuarios Asignados:</strong>
                    <span> {{ reto.usuariosAsignados }} </span>
                  </div>
                  <div class="text-truncate" *ngIf="reto.enEquipo">
                    <strong>Equipos Asignados:</strong>
                    <span> {{ reto.equiposAsignados }} </span>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-2 text-lg-end">
                <div class="dropdown">
                  <button
                    class="btn btn-tertiary normal only-icon"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <div class="icon-text buton">
                      <mat-icon svgIcon="rueda-dentada"></mat-icon>
                    </div>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a
                        class="dropdown-item pointer"
                        (click)="
                          changeRoute('/upsert-reto', {
                            type: 'editar',
                            reto: reto.idReto
                          })
                        "
                        ><i class="fa-regular fa-pen-to-square me-2"></i
                        >Editar</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item pointer" (click)="clonar(reto)"
                        ><i class="fa-regular fa-clone me-2"></i>Clonar</a
                      >
                    </li>
                    <li *ngIf="reto.tipoReto !== 'Comportamiento'">
                      <a
                        class="dropdown-item pointer"
                        (click)="vistaPrevia(reto)"
                        ><i class="fa-solid fa-expand me-2"></i>Vista previa</a
                      >
                    </li>
                    <li *ngIf="!reto.enEquipo">
                      <a
                        class="dropdown-item pointer"
                        (click)="
                          changeRoute('/asig-user-reto', {
                            reto: reto.idReto
                          })
                        "
                        ><i class="fa-regular fa-user me-2"></i>Asignar
                        Usuarios</a
                      >
                    </li>
                    <li *ngIf="reto.enEquipo">
                      <a
                        class="dropdown-item pointer"
                        (click)="
                          changeRoute('/asig-equipo-reto', {
                            reto: reto.idReto
                          })
                        "
                      >
                        <i class="fa-solid fa-users me-2"></i>Asignar Equipos</a
                      >
                    </li>
                    <li *ngIf="reto.tipoReto !== 'Recolección'">
                      <a
                        class="dropdown-item pointer"
                        (click)="
                          changeRoute('/view-pregunta', {
                            reto: reto.idReto
                          })
                        "
                        ><i class="fa-solid fa-question me-2"></i>Preguntas</a
                      >
                    </li>

                    <li *ngIf="reto.puedeValidar > 0">
                      <a
                        class="dropdown-item pointer"
                        (click)="
                          changeRoute('/validaciones/users', {
                            reto: reto.idReto
                          })
                        "
                        ><i class="fa-regular fa-square-check me-2"></i
                        >Verificar reto</a
                      >
                    </li>

                    <li *ngIf="!reto.estado">
                      <a
                        class="dropdown-item pointer text-success"
                        (click)="setEstado(reto, 1)"
                        ><i class="fa-solid fa-power-off me-2"></i>Activar
                      </a>
                    </li>

                    <li *ngIf="reto.estado">
                      <a
                        class="dropdown-item pointer text-danger"
                        (click)="setEstado(reto, 0)"
                        ><i class="fa-solid fa-power-off me-2"></i>Desactivar
                      </a>
                    </li>
                    <li>
                      <a
                        class="dropdown-item pointer"
                        (click)="confirmEliminar(reto.idReto)"
                        ><i class="fa-solid fa-trash-can me-2"></i>Eliminar</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>

<p-toast [styleClass]="'col-10 col-md-6 col-lg-3'"></p-toast>
<p-confirmDialog #cd [styleClass]="'col-10 col-md-4'">
  <ng-template pTemplate="footer">
    <button
      type="button"
      class="btn btn-tertiary me-2"
      pButton
      label="Cancelar"
      (click)="cd.reject()"
    ></button>
    <button
      type="button"
      pButton
      class="btn btn-primary"
      label="Aceptar"
      (click)="cd.accept()"
    ></button>
  </ng-template>
</p-confirmDialog>
