<div class="franja bg-superior"></div>

<div class="form-box" *ngIf="!seeUserPassPanel">
  <div class="shadow-lg bg-white p-3 mb-5 rounded col-10 col-md-6 col-lg-3">
    <div class="text-center my-4">
      <h5 class="txt text-primary">RECUPERAR CONTRASEÑA</h5>
    </div>
    <div>
      <form [formGroup]="formulario" (ngSubmit)="submit()">
        <div *ngIf="!correoEnviado">
          <div class="mb-3">
            <label for="correo" class="form-label">Correo electrónico</label>
            <input
              type="email"
              class="form-control {{
                formulario.get('correo')?.errors && verErrorsInputs
                  ? 'is-invalid'
                  : ''
              }}"
              formControlName="correo"
              id="correo"
            />
            <div
              class="invalid-feedback"
              *ngIf="formulario.get('correo')?.errors"
            >
              <span
                class="d-block"
                *ngIf="formulario.get('correo')?.hasError('maxlength')"
              >
                Máximo 60 caracteres
              </span>
              <span
                class="d-block"
                *ngIf="formulario.get('correo')?.hasError('required')"
              >
                Campo obligatorio
              </span>
              <span
                class="d-block"
                *ngIf="formulario.get('correo')?.hasError('email')"
              >
                Correo incorrecto
              </span>
            </div>
          </div>

          <div class="d-grid d-md-block">
            <button type="submit" class="btn btn-primary">
              Enviar<i class="fa-regular fa-envelope ms-2"></i>
            </button>
          </div>
        </div>

        <div class="alert alert-light" role="alert" *ngIf="correoEnviado">
          Hemos enviado un correo con un enlace para que puedas cambiar la
          contraseña, recuerda también revisar el correo no deseado.
          <small class="d-block"
            >El tiempo de duración del enlace es de 5 minutos.</small
          >
        </div>

        <hr class="hr-text" data-content="O" />
        <div class="text-center">
          <p>
            <a routerLink="/login">Iniciar Sesión</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="form-box" *ngIf="seeUserPassPanel">
  <div class="shadow-lg bg-white p-3 mb-5 rounded col-10 col-md-6 col-lg-3">
    <div class="text-center my-4">
      <h5 class="txt text-primary">CAMBIAR CONTRASEÑA</h5>
    </div>

    <form [formGroup]="formulario" (ngSubmit)="submit()">
      <div>
        <div class="mb-3">
          <label for="password1" class="form-label">Contraseña</label>
          <div class="input-group">
            <input
              class="form-control {{
                formulario.get('contrasena')?.errors && verErrorsInputs
                  ? 'is-invalid'
                  : ''
              }}"
              type="password"
              formControlName="contrasena"
              id="password1"
              (input)="validPass()"
            />
            <div
              class="invalid-feedback"
              *ngIf="formulario.get('contrasena')?.errors"
            >
              <span *ngIf="formulario.get('contrasena')?.hasError('required')"
                >Campo obligatorio</span
              >
            </div>
          </div>
        </div>

        <div class="mb-4">
          <label for="password2" class="form-label">Repetir Contraseña</label>
          <div class="input-group">
            <input
              class="form-control {{
                formulario.get('contrasena2')?.errors && verErrorsInputs
                  ? 'is-invalid'
                  : ''
              }}"
              type="password"
              formControlName="contrasena2"
              id="password2"
              (input)="validPass()"
            />
            <div
              class="invalid-feedback"
              *ngIf="formulario.get('contrasena2')?.errors"
            >
              <span *ngIf="formulario.get('contrasena2')?.hasError('required')"
                >Campo obligatorio</span
              >
            </div>
          </div>
        </div>

        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="
            formulario.get('contrasena')?.hasError('contrasenaInvalid') &&
            verErrorsInputs
          "
        >
          Debe tener 5 caracteres de longitud y máximo 20, una letra minúscula,
          mayúscula, un número, sin espacios y solo los siguientes caracteres
          @.-_#$
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="errorPass">
          Las contraseñas no coinciden
        </div>
      </div>

      <div class="d-grid d-md-block mb-3">
        <button type="submit" class="btn btn-primary">
          <i class="fa-regular fa-envelope me-2"></i>Guardar
        </button>
      </div>
    </form>
  </div>
</div>
