<div class="shadow-lg p-3 mb-2 bg-body rounded">
  <div
    class="row g-3 text-center text-xxl-start align-items-center mx-2 mx-md-5 my-2"
  >
    <div class="col-12 col-md-auto me-3">
      <h3 class="text-truncate txt text-primary mb-3">MI reto</h3>
      <img
        src="assets/img/default/default-reto.jpg"
        class="img-thumbnail"
        width="300"
        alt=""
      />
    </div>

    <div class="col-12 col-md-4 col-xxl-8">
      <h4 class="txt text-secondary">Trivia</h4>
      <span class="txt text-tertiary d-block mb-3">Reto en Equipo</span>
      <div>
        <span> <strong>Vidas:</strong> 23</span>
      </div>
    </div>
    <div class="col-12 text-center text-md-end d-grid d-md-block">
      <a class="btn btn-primary" routerLink="/user-reto">
        <i class="fa-solid fa-angle-left me-2"></i>Retos
      </a>
    </div>
  </div>
</div>
