<div>
  <div class="card col-12 col-md-6 col-lg-4 text-center mb-4">
    <div class="card-body">
      <h5 class="card-title">Créditos disponibles</h5>
      <p class="card-text text-truncate">
        <span class="badge text-bg-dark">{{ usuario.creditos }}</span>
      </p>
    </div>
  </div>

  <!-- buscador -->
  <form
    class="row g-3 mb-2"
    [formGroup]="formulario"
    (ngSubmit)="submitBuscar()"
  >
    <div class="col-12 col-md-4">
      <select
        class="form-select"
        id="user-rec-cat"
        formControlName="idCategoria"
        (change)="filtrar($event)"
      >
        <option value="">Seleccione una categoría...</option>
        <option *ngFor="let item of categorias" [value]="item.idCategoria">
          {{ item.nombre }}
        </option>
      </select>
    </div>

    <div class="col-12 col-md-8">
      <div class="d-md-flex mb-4">
        <div class="input-group flex-grow-1 me-md-3 mb-3 mb-md-0">
          <span class="icon-left">
            <i class="fa-solid fa-magnifying-glass"></i>
          </span>
          <input
            type="text"
            class="form-control icon"
            placeholder="Buscar..."
            formControlName="buscar"
            (input)="defaultList($event)"
          />
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-secondary">Buscar</button>
        </div>
      </div>
    </div>
  </form>

  <div *ngIf="!recomensas.length">Sin Recompensas</div>
  <div class="row g-3 mb-4">
    <div
      class="col-12 col-md-6 col-lg-4 pointer"
      *ngFor="let item of paginatedItems()"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      (click)="selectRecompensa(item)"
    >
      <div class="shadow-lg p-3 mb-2 bg-body rounded">
        <div class="row g-3 align-items-center">
          <div class="col-3 text-center">
            <img
              [src]="
                getImage(item.imagen, 'Recompensa', 'default-recompensa.jpg')
              "
              class="img-thumbnail"
              width="100"
              alt="recomensa"
            />
          </div>
          <div class="col-9">
            <div class="d-flex justify-content-between align-items-center">
              <span class="txt text-secondary fw-semibold text-truncate me-2">{{
                item.nombre
              }}</span>
              <span
                class="badge {{
                  getEstadoCantItems(item.cantDisponible)
                    ? 'text-bg-success'
                    : 'text-bg-danger'
                }}"
                >{{
                  getEstadoCantItems(item.cantDisponible)
                    ? "Disponible"
                    : "Agotado"
                }}</span
              >
            </div>
            <small class="d-block txt text-primary">
              {{ item.categoria }}
            </small>
            <small class="text-black-50 d-block"
              ><strong>Items disponibles:</strong>
              {{ item.cantDisponible }}</small
            >

            <small class="text-black-50 d-block"
              ><strong>Costo:</strong> {{ item.cantCanje }}
              <span>{{
                item.cantCanje > 1 ? "Créditos" : "Crédito"
              }}</span></small
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Recompensa</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              #closeModal
            ></button>
          </div>
          <div class="modal-body">
            <div>
              <h5 class="txt text-secondary">
                {{ recomensa.nombre }}
              </h5>

              <div class="mb-3">
                <span
                  class="fw-semibold d-block {{
                    errorCantDisp ? 'text-danger' : 'text-black-50'
                  }}"
                  ><strong>Items disponibles:</strong>
                  {{ recomensa.cantDisponible }}</span
                >
                <span
                  class="fw-semibold d-block {{
                    errorCreditos ? 'text-danger' : 'text-black-50'
                  }}"
                  ><strong>Costo:</strong> {{ recomensa.cantCanje }}
                  <span>{{
                    recomensa.cantCanje > 1 ? "Créditos" : "Crédito"
                  }}</span></span
                >
                <small class="text-danger" *ngIf="errorCreditos"
                  >Créditos insuficientes</small
                >
                <small class="text-danger" *ngIf="errorCantDisp"
                  >Cantidad insuficiente</small
                >
              </div>

              <img
                [src]="
                  getImage(
                    recomensa.imagen,
                    'Recompensa',
                    'default-recompensa.jpg'
                  )
                "
                class="img-thumbnail"
                alt="recomensa"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              (click)="canjear(recomensa)"
            >
              Canjear
            </button>
            <button
              type="button"
              class="btn btn-tertiary"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin Modal -->
  </div>
  <div class="flex justify-content-center">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="totalItems()"
    ></p-paginator>
  </div>
</div>

<p-toast [styleClass]="'col-10 col-md-6 col-lg-3'"></p-toast>
