<div>
  <!-- buscador -->
  <!-- <form
        class="row g-3 mb-4"
        [formGroup]="formulario"
        (ngSubmit)="submitBuscar()"
      >
        <div class="col-12 col-md-8">
          <div class="input-group">
            <span class="icon-left">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <input
              type="text"
              class="form-control icon"
              placeholder="buscar..."
              formControlName="buscar"
              (input)="defaultList($event)"
            />
          </div>
        </div>
        <div class="col-12 col-md-3 d-grid d-md-block">
          <button type="submit" class="btn btn-success">Buscar</button>
        </div>
      </form> -->
  <div *ngIf="!niveles.length">Sin Niveles</div>
  <div class="row g-3 mb-4">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of niveles">
      <div class="shadow-lg p-3 mb-2 bg-body rounded">
        <div class="row g-3 align-items-center">
          <div class="col-3 text-center">
            <img
              [src]="getImage(item.imagen, 'nivel', 'default-nivel.jpg')"
              class="img-thumbnail"
              width="100"
              alt="miNivel"
            />
          </div>
          <div class="col-9">
            <h5 class="txt text-secondary me-2">
              {{ item.nombre }}
            </h5>
            <span>{{ item.descripcion }}</span>
            <small class="text-black-50 fw-semibold d-block">
              <strong>Conseguido el: </strong>
              {{ dateCompare(item.fechaCreacion) }}</small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="flex justify-content-center">
        <p-paginator
          (onPageChange)="onPageChange($event)"
          [first]="first"
          [rows]="rows"
          [totalRecords]="totalItems()"
        ></p-paginator>
      </div> -->
</div>
