<div>
  <!-- buscador -->
  <form
    class="d-md-flex w-100 mb-4"
    [formGroup]="formulario"
    (ngSubmit)="submitBuscar()"
  >
    <div class="input-group flex-grow-1 me-md-3 mb-3 mb-md-0">
      <span class="icon-left">
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
      <input
        type="text"
        class="form-control icon"
        placeholder="Buscar..."
        formControlName="buscar"
        (input)="defaultList($event)"
      />
    </div>
    <div class="d-grid">
      <button type="submit" class="btn btn-secondary">Buscar</button>
    </div>
  </form>
  <!-- Fin buscador -->

  <div *ngIf="!ur.length">{{ info }}</div>

  <div class="row g-3 mb-4">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of paginatedItems()">
      <div
        class="shadow-lg p-3 mb-2 bg-body rounded pointer"
        (click)="entrarReto(item)"
      >
        <div class="row g-3">
          <div class="col-3 text-center">
            <img
              [src]="getImage(item.reto.imagen, 'retro', 'default-reto.jpg')"
              class="img-thumbnail"
              width="100"
              alt="{{ item.reto.nombre }}"
            />
          </div>
          <div class="col-9 col-xl-6">
            <span class="txt text-secondary fw-semibold me-2">{{
              item.reto.nombre
            }}</span>
            <small class="d-block fw-semibold txt text-primary">{{
              item.reto.tipoReto
            }}</small>
            <small class="d-block" *ngIf="item.reto.enEquipo">
              Reto en Equipo
            </small>
            <small class="d-block" *ngIf="!item.reto.enEquipo">
              Reto Individual
            </small>
            <div>
              <small class="fw-semibold me-1">Abierto desde:</small>
              <small>{{ dateCompare(item.reto.fechaApertura) }}</small>
            </div>
            <div>
              <small class="fw-semibold me-1">Abierto hasta:</small>
              <small>{{ dateCompare(item.reto.fechaCierre) }}</small>
            </div>
          </div>
          <div class="col-12 col-xl-3 text-center text-xl-end">
            <div class="d-flex justify-content-center justify-content-xl-end">
              <div class="col-2 col-md-3 col-lg-3 col-xl-8">
                <circle-progress
                  [percent]="item.completado ? 100 : 0"
                  [outerStrokeColor]="customOuterStrokeColor"
                >
                </circle-progress>
              </div>
            </div>

            <span
              class="badge {{
                item.reto.estado ? 'text-bg-success' : 'text-bg-danger'
              }} me-2 m-xl-0"
              >{{ item.reto.estado ? "Activo" : "Desactivado" }}</span
            >
            <span
              class="badge {{
                getEstadoFecha(item.reto) ? 'text-bg-success' : 'text-bg-danger'
              }} me-2 m-xl-0"
              >{{ getEstadoFecha(item.reto) ? "Abierto" : "Cerrado" }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-content-center">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="totalItems()"
    ></p-paginator>
  </div>
</div>
