<div class="shadow-lg bg-white px-4 py-2 px-lg-5 rounded">
  <h5 class="my-5 text-center txt text-primary text-uppercase">equipos</h5>
  <div class="row g-3 mb-4">
    <div class="col-6 col-md-auto d-grid d-md-block">
      <a
        class="btn btn-primary icon"
        (click)="changeRoute('/upsert-equipo', { type: 'crear' })"
      >
        <div class="icon-text buton">
          <mat-icon svgIcon="agregar"></mat-icon><span>Crear</span>
        </div>
      </a>
    </div>
  </div>
  <!-- buscador -->
  <form
    class="d-md-flex w-100"
    [formGroup]="formulario"
    (ngSubmit)="submitBuscar()"
  >
    <div class="input-group flex-grow-1 me-md-3 mb-3 mb-md-0">
      <span class="icon-left">
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
      <input
        type="text"
        class="form-control icon"
        placeholder="Buscar..."
        formControlName="buscar"
        (input)="defaultList($event)"
      />
    </div>
    <div class="d-grid">
      <button type="submit" class="btn btn-secondary">Buscar</button>
    </div>
  </form>
  <!-- Fin buscador -->

  <!-- Items -->
  <div class="mb-2 mb-md-4">
    <p-dataView
      #dv
      [value]="equipos"
      [rows]="10"
      [paginator]="true"
      [emptyMessage]="info"
    >
      <ng-template let-equipo pTemplate="listItem">
        <div class="col-12">
          <div class="p-4 gap-4">
            <div class="row g-3 text-center text-md-start align-items-center">
              <div class="col-12 col-md-auto">
                <img
                  class="img-thumbnail"
                  [src]="
                    getImage(equipo.imagen, 'equipo', 'default-equipo.png')
                  "
                  width="100"
                  [alt]="equipo.imagen"
                />
              </div>
              <div class="col-12 col-md-4">
                <h5 class="txt text-secondary">
                  {{ equipo.nombre }}
                </h5>
                <div class="flex align-items-center gap-3">
                  <span
                    class="d-block fw-semibold {{
                      equipo.estado ? 'text-success' : 'text-danger'
                    }}"
                  >
                    {{ equipo.estado ? "Activo" : "Desactivado" }}
                  </span>
                  <span class="d-block text-truncate">
                    {{ equipo.descripcion }}
                  </span>
                </div>
              </div>

              <div class="col-12 col-md-3">
                <div class="flex align-items-center gap-3">
                  <div>
                    <strong>Cantidad Usuarios:</strong>
                    <span class="">
                      {{ equipo.totalUsuarios }}
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-1 col-lg-2 text-md-end">
                <div class="dropdown">
                  <button
                    class="btn btn-tertiary normal only-icon"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <div class="icon-text buton">
                      <mat-icon svgIcon="rueda-dentada"></mat-icon>
                    </div>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a
                        class="dropdown-item pointer"
                        (click)="
                          changeRoute('/upsert-equipo', {
                            type: 'editar',
                            equipo: equipo.idEquipo
                          })
                        "
                        ><i class="fa-regular fa-pen-to-square me-2"></i
                        >Editar</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item pointer"
                        (click)="
                          changeRoute('/asig-user-equipo', {
                            equipo: equipo.idEquipo
                          })
                        "
                        ><i class="fa-regular fa-user me-2"></i>Asignar
                        Usuarios</a
                      >
                    </li>
                    <li *ngIf="!equipo.estado">
                      <a
                        class="dropdown-item pointer text-success"
                        (click)="setEstado(equipo, 1)"
                        ><i class="fa-solid fa-power-off me-2"></i>Activar
                      </a>
                    </li>

                    <li *ngIf="equipo.estado">
                      <a
                        class="dropdown-item pointer text-danger"
                        (click)="setEstado(equipo, 0)"
                        ><i class="fa-solid fa-power-off me-2"></i>Desactivar
                      </a>
                    </li>
                    <li>
                      <a
                        class="dropdown-item pointer"
                        (click)="confirmEliminar(equipo.idEquipo)"
                        ><i class="fa-solid fa-trash-can me-2"></i>Eliminar</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>

<p-toast [styleClass]="'col-10 col-md-6 col-lg-3'"></p-toast>
<p-confirmDialog #cd [styleClass]="'col-10 col-md-4'">
  <ng-template pTemplate="footer">
    <button
      type="button"
      class="btn btn-tertiary me-2"
      pButton
      label="Cancelar"
      (click)="cd.reject()"
    ></button>
    <button
      type="button"
      pButton
      class="btn btn-primary"
      label="Aceptar"
      (click)="cd.accept()"
    ></button>
  </ng-template>
</p-confirmDialog>
