<div class="my-3 my-md-5">
  <div class="shadow-lg bg-white px-4 py-2 px-lg-5 rounded">
    <h5 class="my-5 text-center txt text-primary text-uppercase">
      recompensas
    </h5>
    <div class="row g-3 mb-4">
      <div class="col-6 col-md-auto d-grid d-md-block">
        <a
          class="btn btn-primary icon"
          (click)="changeRoute('/upsert-recompensa', { type: 'crear' })"
        >
          <div class="icon-text buton">
            <mat-icon svgIcon="agregar"></mat-icon><span>Crear</span>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-6 d-grid d-md-block">
        <button
          class="btn btn-tertiary icon"
          data-bs-toggle="modal"
          data-bs-target="#importRecompensa"
        >
          <div class="icon-text buton">
            <mat-icon svgIcon="importar"></mat-icon><span>Importar</span>
          </div>
        </button>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="importRecompensa"
      tabindex="-1"
      aria-labelledby="importRecompensaLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="importRecompensaLabel">
              Importar Recompensas
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              #closeModal
            ></button>
          </div>
          <div class="modal-body">
            <div class="mb-2">
              <span class="fw-medium">Instrucciones</span>
              <ol>
                <li>
                  Descargar el formato (archivo excel).
                  <button
                    class="btn btn-primary btn-sm mx-2 px-4"
                    (click)="exportArchivo()"
                  >
                    Descargar
                  </button>
                </li>
                <li>Solo se permiten archivos en formato .xlsx</li>
                <li>los campos que contengan (*) son obligatorios.</li>
                <li>
                  No se aceptan los caracteres &#60;, &#62; en ningún campo
                </li>
                <li>
                  Si no se cumpen con los requisitos mencionados anteriormente
                  no se guardará la recompensa.
                </li>
              </ol>
            </div>
            <form class="row g-3 mb-3">
              <div class="col-12">
                <label for="archivoExcel" class="form-label ms-2 fw-medium"
                  >Archivo*</label
                >
                <input
                  type="file"
                  class="form-control {{ errorArchivo ? 'is-invalid' : '' }}"
                  id="archivoExcel"
                  #valueArchivo
                  accept=".xlsx"
                  (change)="onFileSelected($event)"
                />
                <div class="invalid-feedback">{{ info }}</div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-success"
              (click)="importArchivo()"
            >
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin Modal -->

    <!-- buscador -->
    <form
      class="d-md-flex w-100"
      [formGroup]="formulario"
      (ngSubmit)="submitBuscar()"
    >
      <div class="input-group flex-grow-1 me-md-3 mb-3 mb-md-0">
        <span class="icon-left">
          <i class="fa-solid fa-magnifying-glass"></i>
        </span>
        <input
          type="text"
          class="form-control icon"
          placeholder="Buscar..."
          formControlName="buscar"
          (input)="defaultList($event)"
        />
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-success">Buscar</button>
      </div>
    </form>
    <!-- Fin buscador -->

    <!-- Noticias -->
    <div class="mb-2 mb-md-4">
      <p-dataView
        #dv
        [value]="recompensas"
        [rows]="10"
        [paginator]="true"
        [emptyMessage]="info"
      >
        <ng-template let-recompensa pTemplate="listItem">
          <div class="col-12">
            <div class="p-4 gap-4">
              <div class="row g-3 text-center text-md-start align-items-center">
                <div class="col-12 col-md-auto">
                  <img
                    class="img-thumbnail"
                    [src]="
                      getImage(
                        recompensa.imagen,
                        'recompensa',
                        'default-recompensa.jpg'
                      )
                    "
                    width="150px"
                    [alt]="recompensa.imagen"
                  />
                </div>
                <div class="col-12 col-md-4">
                  <h5 class="txt text-secondary">
                    {{ recompensa.nombre }}
                  </h5>
                  <div class="flex align-items-center gap-3">
                    <span class="d-block text-truncate">
                      {{ recompensa.descripcion }}
                    </span>
                  </div>
                </div>

                <div class="col-12 col-md-3">
                  <div class="flex align-items-center gap-3">
                    <div>
                      <strong>Cantidad Disponible:</strong>
                      <span class="">
                        {{ recompensa.cantDisponible }}
                      </span>
                    </div>
                    <div>
                      <strong>Cantidad de Canje:</strong>
                      <span class="">
                        {{ recompensa.cantCanje }}
                      </span>
                    </div>
                    <div>
                      <strong>Entregados:</strong>
                      <span class="">
                        {{ recompensa.totalUsuarios }}
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-1 col-lg-2 text-md-end">
                  <div class="dropdown">
                    <button
                      class="btn btn-secondary normal only-icon"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <div class="icon-text buton">
                        <mat-icon svgIcon="rueda-dentada"></mat-icon>
                      </div>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a
                          class="dropdown-item pointer"
                          (click)="
                            changeRoute('/upsert-recompensa', {
                              type: 'editar',
                              recompensa: recompensa.idRecompensa
                            })
                          "
                          ><i class="fa-regular fa-pen-to-square me-2"></i
                          >Editar</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item pointer"
                          (click)="confirmEliminar(recompensa.idRecompensa)"
                          ><i class="fa-solid fa-trash-can me-2"></i>Eliminar</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </div>
</div>

<p-toast [styleClass]="'col-10 col-md-6 col-lg-3'"></p-toast>
<p-confirmDialog #cd [styleClass]="'col-10 col-md-4'">
  <ng-template pTemplate="footer">
    <button
      type="button"
      class="btn btn-secondary me-2"
      pButton
      label="Cancelar"
      (click)="cd.reject()"
    ></button>
    <button
      type="button"
      pButton
      class="btn btn-danger"
      label="Aceptar"
      (click)="cd.accept()"
    ></button>
  </ng-template>
</p-confirmDialog>
